.THIS .slds-col[class*=slds-size_], 
.THIS .slds-col[class*=slds-size--] {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; 
}

.THIS .child {
    background:#ddd;
    width: 100%;
}

.THIS .child .parent-label {
    color: black;
}
.THIS .child .child-value {
    width: 100%;
}
.THIS .child .child-label {
    color: #777;
}