div#firm-profile.firm-profile.col-md-8
  .well
    div.section-heading Firm Contact Info
    table
      tr.section
        td Contact
      tr
        td.field Email
        td.value firm@deloitte.ca
      tr
        td.field Phone Number
        td.value (999) 999-9999
      tr.section
        td Address
      tr
        td.field City
        td.value City Name
      tr
        td.field Street
        td.value Street Name
      tr
        td.field State/Province
        td.value State/Province
      tr
        td.field Zip/Postal Code
        td.value Zip/Postal Code
      tr
        td.field Country
        td.value Country
    div.save-btn-group
      button.cpao-btn-secondary Cancel
      button.cpao-btn-primary Save
    
    