div#firm-profile-left-nav.firm-profile-left-nav.col-md-3
  .well.p-20
    ul
      li
        a(aria-expanded='true' data-toggle='tab' href='#em-profile') Contact
      li#em-payment-methods-tab
        a(data-toggle='tab' href='#em-payment-methods' aria-expanded='false') Placeholder Text
      li#em-payment-methods-tab
        a(data-toggle='tab' href='#em-payment-methods' aria-expanded='false') Placeholder Text
      li#em-payment-methods-tab
        a(data-toggle='tab' href='#em-payment-methods' aria-expanded='false') Placeholder Text
      li#em-payment-methods-tab
        a(data-toggle='tab' href='#em-payment-methods' aria-expanded='false') Placeholder Text
    
