div#personal-applications.personal-applications.col-md-9
  include ../applications-menu
  div.dashboard-tile-container
    div.row.no-gutters.tile-row
      div.generic-tile.new-application
        div.tile-content
          div
            img(src='./images/New_Application.svg')
            button(type='button' data-toggle='modal' data-target='#newApplicationModal') Start New Application
      include ../detailed-card-applications
      div.row.no-gutters.tile-row
        include ../detailed-card-applications
        include ../detailed-card-applications
// Modal
#newApplicationModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='newApplicationModal' aria-hidden='true')
  .modal-dialog.modal-lg.modal-dialog-centered(role='document')
    .modal-content.modal-full-width
      .modal-header
        h5.modal-title New Application:
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      #modal-body.modal-body
        .new-application-container
          #item1.new-application-record
            img
            div.new-applicatin-desc
              p.title Public Account License Application
              p.subtitle Brief description of what application entails. Lorem ipsum dolor sit amed.
          #item2.new-application-record 
            img
            div.new-applicatin-desc
              p.title Application Name
              p.subtitle Brief description of what application entails. Lorem ipsum dolor sit amed.
          #item3.new-application-record 
            img
            div.new-applicatin-desc
              p.title Application Name
              p.subtitle Brief description of what application entails. Lorem ipsum dolor sit amed.
          #item4.new-application-record 
            img
            div.new-applicatin-desc
              p.title Application Name
              p.subtitle Brief description of what application entails. Lorem ipsum dolor sit amed.
          #item5.new-application-record 
            img
            div.new-applicatin-desc
              p.title Application Name
              p.subtitle Brief description of what application entails. Lorem ipsum dolor sit amed.
      .modal-footer.save-btn-group
        button.cpao-btn-secondary(type='button' data-dismiss='modal') Cancel
        button.cpao-btn-primary(type='button' onclick="window.location.href='./applications-PAL-1-instructions.html'") Begin Application