div.support-container
  // placeholder for breadcrumbs
  div.request-title-container
    img(src='./images/Member_Service_Requests.svg').member-request-icon
    div.firm-info
      h2.request-title Firm Requests
      p.firm-name Firm Name
    button.btn.btn-primary(type='button' data-toggle='modal' data-target='#switchFirmModal') Switch Firm
  div.search-container
    div.search-bar
      div.search-icon
        img
      div.search-input
        input(placeholder='Search')
  div.new-request-container
    div.submitted-requests
      a(href="") View Submitted Requests
      span.arrow.is-right
    div.request-section
      h5 New Requests
      a(href="").request-item Firm Name Change
      a(href="").request-item Firm Closure
      a(href="").request-item Cancellation of Existing Certificate of Authorization
      a(href="").request-item Firm Classification Change
      a(href="").request-item Firm Partner Change
      a(href="").request-item Firm Atakeholders Change
      a(href="").request-item Types of Services Provided is Changing
// Modal
#switchFirmModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='switchFirmModal' aria-hidden='true')
  .modal-dialog.modal-lg.modal-dialog-centered(role='document')
    .modal-content.modal-full-width
      .modal-header
        h5.modal-title My Firms:
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      #modal-body.modal-body
        .new-application-container
          #item1.new-application-record
            img
            div.new-applicatin-desc
              p.title Firm Name
              p.subtitle Firm Street Address, City
          #item2.new-application-record 
            img
            div.new-applicatin-desc
              p.title Firm Name
              p.subtitle Firm Street Address, City
          #item3.new-application-record 
            img
            div.new-applicatin-desc
              p.title Firm Name
              p.subtitle Firm Street Address, City
          #item4.new-application-record 
            img
            div.new-applicatin-desc
              p.title Firm Name
              p.subtitle Firm Street Address, City
          #item5.new-application-record 
            img
            div.new-applicatin-desc
              p.title Firm Name
              p.subtitle Firm Street Address, City
      .modal-footer.save-btn-group
        button.cpao-btn-secondary(type='button' data-dismiss='modal') Cancel
        button.cpao-btn-primary(type='button' disabled) Select Firm