div.support-container
  // placeholder for breadcrumbs
  div.request-title-container
    img(src='./images/Member_Service_Requests.svg').member-request-icon
    h2.request-title Member Requests
  div.search-container
    div.search-bar
      div.search-icon
        img
      div.search-input
        input(placeholder='Search')
  div.new-request-container
    div.submitted-requests
      a(href="") View Submitted Requests
      span.arrow.is-right
    div.request-section
      h5 New Requests
      a(href="").request-item Legal Name Change
      a(href="").request-item Letter of Good Standing
      a(href="").request-item Resignation of Membership
      a(href="").request-item Discontinue PAL
      a(href="").request-item Certificate Replacement (Loss of Certificate Form)
    div.request-section
      h5 Paid Services
      a(href="").request-item Detailed Letter of Good Standing
      a(href="").request-item Certificate Replacement (Loss of Certificate Form)