div.support-container
  // placeholder for breadcrumbs
  h2 We're here to help
  div.search-container
    div.search-bar
      div.search-icon
        img
      div.search-input
        input(placeholder='Search')
  div.support-tiles-container
    div.generic-tile.support-tile
      img(src='https://pbs.twimg.com/profile_images/948294484596375552/RyGNqDEM_400x400.jpg')
      div.support-link
        a(href='support-member-requests.html') Member Requests
    div.generic-tile.support-tile
      img(src='https://pbs.twimg.com/profile_images/948294484596375552/RyGNqDEM_400x400.jpg')
      div.support-link 
        a(href='support-firm-requests.html') Firm Requests
  div.support-desc-container
    p Lorem ipsum dolor sit amet, sit eu, sed blandit condimentum est malesuada quis lorem, augue ultricies rutrum penatibus pede. At hendrerit nonummy turpis ante litora, duis sit taciti. Platea placerat malesuada in sapien fugiat, nam rutrum nibh in non, suspendisse natoque faucibus rhoncus a dapibus risus, vehicula vehicula orci tempor sit tortor libero, hac.