doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		block title
			title Default title
		// Iclude any head elements here
		// include partials/head
		link(href='vendor/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css', rel='stylesheet')
		link(href='css/fonts.css', rel='stylesheet')
		link(href='css/master.css', rel='stylesheet')
	body
		#wrapper
			block header
				include components/header
				include components/main-nav
			block banner
			block main-container
				p Default container
			block footer
				include components/footer
		// All scripts should be  placed at the bottom
		// Scripts Start
		//- script(src='js/hello.js')
		script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' 
		integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
		script(src='vendor/jquery-3.3.1/jquery-3.3.1.min.js')
		script(src='js/addActiveCss.js')
		// Scripts End