.THIS {
}

.THIS.font-color-card{
	color: #9ca4ab;
}
.THIS.footer-card{
	outline: 0;
	display: inline-block;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.THIS.cards-button{
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;

}

.THIS #cards{
	padding:5px;
	float:left; 
	width:44%; 
	margin-right: 15px;
	position: relative;
	margin-top:15px;
	word-break: break-word	;
	white-space: pre-line;
	background-color: #FFF;
	height: 26rem;
	}
.THIS.slds-scope .slds-truncate {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.THIS .adjust-cards-personal{
	margin-right: 5rem;
	float: right;
	margin-top: 1%;
	

}
.THIS .cpao-btn{
	width: 10rem;
}
.THIS .list-change{
	list-style-type: none;
}

.THIS .cellphone_font{
	font-size: 1.5rem;
	line-height: 1.25;
}
.THIS .header-text{
	font-size: 1.5rem;
	line-height: 1.25;
}
.THIS .body-text{
	font-size: 12px !important;
}
@media (min-width: 320px) and (max-width: 480px) {

	.THIS .cellphone_size {
		font-size: 0.750rem;
		line-height: 1.25;
		font-weight: 600;
	}

	.THIS .btn{
		padding: 5px 10px;
	}

	.THIS .cpao-btn{
		font-size: 8.5px !important;
	}

	.THIS .adjust-cards{

		margin-bottom: 10%;
		margin-top: 1%;
		margin-left: 30%;

	}

	.THIS #cards{
		height: 200px;
		width: 41%;
	}

	.THIS .cellphone_font{
		font-size: 1.0rem;
	}

	.THIS .header-text{
		font-size: 1.0rem;
		line-height: 1.25;

	}

	.THIS .body-text{
		font-size: 10px !important;
	}

	.THIS .cpao-btn{
		margin: 3% 16px 0 0;
	}
}
@media (min-width: 481px) and (max-width: 767px) {

	.THIS .cellphone_size {
		font-size: 0.750rem;
		line-height: 1.25;
		font-weight: 600;
	}

	.THIS .btn{
		padding: 5px 10px;
	}

	.THIS .cpao-btn{
		font-size: 11px !important;
	}
	
	.THIS .adjust-cards{

		margin-bottom: 10%;
		margin-top: 1%;
		margin-left: 30%;

	}

	.THIS #cards{
		height: 250px;
	}

	.THIS .cellphone_font{
		font-size: 1.0rem;
	}

	.THIS .cpao-btn{
		margin: 3% 16px 0 0;
	}

}