// placeholder for breadbrumbs
div.applications-container
  div.applications-title
    h2 Public Accounting License Application
    p 2018 | Instructions and Requirements
  div.applications-subtitle 
    h3 Applicability
    p Pursuant to CPA Ontario’s regulations, every firm engaged in the practice of public accounting or in providing accounting services to the public shall pay a practitioner fee on an annual basis in respect of each member residing or practising in Ontario who, as at July 1, 2019: 
    p - is a proprietor, partner, shareholder or employee of the firm; or 
    p - provides public accounting or accounting services for or on behalf of the firm on any basis, or otherwise receives any income, excluding pension or retirement investment income, from the firm. 
    p The annual practitioner fee (APF) is $293.80 ($260.00 plus $33.80 HST). Only one practitioner fee is payable per member. 
    p The practice listing that follows reflects the data that was extracted from CPA Ontario's records on July 1, 2019. You may update your Firm’s information and roster in this portal. 
    p If you have ceased to be engaged in the practice of public accounting or in providing accounting services, then please report this change to CPA Ontario.
  div.applications-subtitle 
    h3 Due Date
    p Payments must be received by CPA Ontario on or before October 1, 2019, failing which, they will be subject to a late fee.  Failure to comply with the Annual Practitioner Fee obligation may result in the suspension of the Local Senior Officer.
  div.applications-subtitle 
    h3 Late Fee
    p There is a $45 late fee applicable per practitioner for submissions after October 2018.
  div.applications-subtitle 
    h3 Instructions
    p You may revisit a page as many times as necessary to make additional changes. If you log out, and the data is partially completed, it will be saved for you and visible by CPA Ontario. 
    p For questions relating to this form, please contact Customer Service at 1 - 844 - 552 - 2726. (Available Monday through Friday, 8:00 am to 6 pm). Alternatively, you may contact us by email at apfpal@cpaontario.ca.
  div.applications-btn-group
    button.cpao-btn-secondary Cancel
    button(onclick="window.location.href='./applications-PAL-2a-profile-information-view.html'").cpao-btn-primary Begin Application











