// placeholder for breadbrumbs
div.applications-container
  div.applications-title
    h2 DRAFT Public Accounting License Application
    p 2018 |  Good Character Declaration
  div.applications-section  
    div.applications-section-title 
      h3  Reference 1
    div.applications-section-details 
      div.row
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
        div.col-4
          include ../field-name-value 
          include ../field-name-value
          include ../field-name-value 
    div.applications-section-title 
      h3  Reference 2
    div.applications-section-details 
      div.row
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
        div.col-4
          include ../field-name-value 
          include ../field-name-value
          include ../field-name-value 
  div.applications-btn-group
    button(onclick="window.location.href='./applications-PAL-9-good-character-declaration.html'").cpao-btn-secondary Previous
    button(onclick="window.location.href='./applications-PAL-11-review.html'").cpao-btn-primary Next