// placeholder for breadbrumbs
div.applications-container
  div.applications-title
    h2 DRAFT Public Accounting License Application
    p 2018 |  Good Character Declaration
  div.applications-section  
    div.applications-section-title 
      h3  Personal Information
    div.applications-section-details 
      div.row
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value 
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
    div.applications-section-title 
      h3  Employment Information
    div.applications-section-details 
      div.row
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value 
    div.applications-section-title 
      h3  Basis Of Application And Public Accounting Practise
    div.applications-section-details 
      div.row
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value 
    div.applications-section-title 
      h3  Continuing Professional Development (CPD) Requirements
    div.applications-section-details 
      div.row
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value 
    div.applications-section-title 
      h3  Practice Inspection Requirements
    div.applications-section-details 
      div.row
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value 
    div.applications-section-title 
      h3  Professional Experience
    div.applications-section-details 
      div.row
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value 
    div.applications-section-title 
      h3  Schedule A
    div.applications-section-details 
      div.row
        div.col-4
          include ../field-name-value
    div.applications-section-title 
      h3  Schedule C
    div.applications-section-details 
      div.row
        div.col-4
          include ../field-name-value
    div.applications-section-title 
      h3  Good Character Declaration
    div.applications-section-details 
      div.row
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value 
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value 
    div.applications-section-title 
      h3  Reference 1
    div.applications-section-details 
      div.row
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value 
    div.applications-section-title 
      h3  Reference 2
    div.applications-section-details 
      div.row
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value 
  div.applications-section  
    div.applications-section-title 
      h3  Attestation
    div.applications-section-details 
      div.application-section-description I declare that: 
      div.row
        div.col-10.generic-checkbox
          input(type='checkbox') 
          label The information provided in this application is accurate, true and complete. I understand that the information provided herein is essential to CPA Ontario in considering my application and making any required determinations. I also understand that providing any false or misleading statements to CPA Ontario may be used in any proceedings respecting the validity of my application or of my status with CPA Ontario, as applicable. I will advise CPA Ontario of any changes to the information provided herein in a timely manner. I will comply at all times with the provisions of the Public Accounting Act, 2004, the Chartered Professional Accountants of Ontario Act, 2017, and with the by-laws, Regulations and Code of Professional Conduct of CPA Ontario, as each of them may be amended or replaced from time to time.
  div.applications-btn-group
    button(onclick="window.location.href='./applications-PAL-9-good-character-declaration.html'").cpao-btn-secondary Previous
    button(onclick="window.location.href='./personal-dashboard.html'").cpao-btn-primary Submit PAL Application