// placeholder for breadbrumbs
div.applications-container
  div.applications-title
    h2 Public Accounting License Application
    p 2018 | Review Profile Information
  div.applications-section  
    div.applications-section-title 
      h3 Personal Information
    div.applications-section-details
      div.row
        div.col-4
          include ../field-name-input
          include ../field-name-input
          include ../field-name-input
          include ../field-name-input
        div.col-4
          include ../field-name-input
          include ../field-name-input
          include ../field-name-input
          include ../field-name-input
  div.applications-section  
    div.applications-section-title 
      h3 Contact
    div.applications-section-details
      div.row
        div.col-4
          include ../field-name-input
          include ../field-name-input
          include ../field-name-input
          include ../field-name-input
        div.col-4
          include ../field-name-input
          include ../field-name-input
          include ../field-name-input
          include ../field-name-input
  div.applications-section  
    div.applications-section-title 
      h3 Address
    div.applications-section-details
      div.row
        div.col-4
          include ../field-name-input
          include ../field-name-input
          include ../field-name-input
          include ../field-name-input
        div.col-4
          include ../field-name-input
          include ../field-name-input
          include ../field-name-input
          include ../field-name-input
  div.applications-btn-group
    button(onclick="window.location.href='./applications-PAL-2a-profile-information-view.html'").cpao-btn-secondary Cancel
    button(onclick="window.location.href='./applications-PAL-2a-profile-information-view.html'").cpao-btn-primary Save