// placeholder for breadbrumbs
div.applications-container
  div.applications-title
    h2 DRAFT Public Accounting License Application
    p 2018 | Basis of Application
  div.applications-section  
    div.applications-section-title 
      h3 Basis of Application
    div.applications-section-details 
      div.application-section-description Select basis of application: 
      div.row
        div.col-10
          include ../radio-button 
            |  I have never held an active public accounting licence with CPA Ontario, a CPA Provincial Body, another provincial Institute of Chartered Accountants or other authorized licensing body in Canada
          include ../radio-button
            |  I have previously held a public accounting licence with this body
          include ../radio-button
            |  I hold an active public accounting licence with another provincial Institute of Chartered Accountants, a CPA Provincial Body or other authorized licensing body in Canada and would like to apply on the basis of my existing entitelement to practice public accounting in the province or territory of that institute or body. I confirm that I have practised public accounting in the past five (5) years or have completed the Current Competency Requirement
  div.applications-section  
    div.applications-section-title 
      h3 Public Accounting Practise
    div.applications-section-details
      div.application-section-description Pursuant to CPA Ontario’s Bylaws and Regulations, no Member shall engage in the practise of public accounting or provide accounting services to the public without the practice being registered as a firm of CPA Ontario. The firm(s) named in this section must be registered with CPA Ontario before a request for a public accounting licence can be considered by the PALB.
      div.application-section-description My role in public accounting is/will be:
      div.row
        div.col-10
          include ../radio-button 
            |  An employee in the firm indicated below
          include ../radio-button
            |  A partner in the firm indicated below
          include ../radio-button
            |  A sole practitioner in the firm indicated below
          include ../radio-button 
            |  A shareholder in the professional corporation (PC)indicated below
          include ../radio-button
            |  A Practice Inspector in the firm indicated below
          include ../radio-button
            |  Another role in the firm indicated below
          include ../field-name-value
          include ../field-name-value
  div.applications-btn-group
    button(onclick="window.location.href='./applications-PAL-3a-employment-information-view.html'").cpao-btn-secondary Previous
    button(onclick="window.location.href='./applications-PAL-5-CPD-requirements.html'").cpao-btn-primary Next