// placeholder for breadbrumbs
div.applications-container
  div.applications-title
    h2 DRAFT Public Accounting License Application
    p 2018 |  Continuing Professional Development (CPD) Requirements
  div.applications-section  
    div.applications-section-title 
      h3  Continuing Professional Development (CPD) Requirements
    div.applications-section-details 
      div.application-section-description CPA Ontario’s Continuing Professional Development (CPD) requirement for membership and licensure are separate and distinct.  Licenced Public Accountants must complete:  
      div.application-section-description 1. A minimum of twenty (20) hours of CPD annually, ten (10) of which are verifiable, in activities directly related to the competencies needed to provide public accounting services and  
      div.application-section-description 2. A minimum of one-hundred-twenty (120) hours of CPD cumulatively, sixty (60) of which are verifiable, in activities directly related to the competencies needed to provide public accounting services over a three-year period.
      div.application-section-description During the last 3 year period I have:
      div.row
        div.col-10
          include ../radio-button 
            |  Completed annual and triennial requirements
          include ../radio-button
            |  Did not complete annual and triennial requirements
  div.applications-btn-group
    button(onclick="window.location.href='./applications-PAL-4-basis-application.html'").cpao-btn-secondary Previous
    button(onclick="window.location.href='./applications-PAL-6-practice-inspection-requirements.html'").cpao-btn-primary Next