// placeholder for breadbrumbs
div.applications-container
  div.applications-title
    h2 DRAFT Public Accounting License Application
    p 2018 |  Practice Inspection Requirements
  div.applications-section  
    div.applications-section-title 
      h3  Practice Inspection Requirements
    div.applications-section-details 
      div.application-section-description I have completed the Practice Inspection Requirement, during the immediate past 5 years: 
      div.row
        div.col-10
          include ../radio-button 
            |  Participating in a recognized capacity  providing public accounting services in one or more practising office(s) located inside Canada
          include ../radio-button
            |  Participating in a recognized capacity providing public accounting services in one or more practising office(s) located outside of Canada
          include ../radio-button
            |  Being a practice inspector appointed by CPA Ontario or CPAB or pursuant to the Chartered Professional Accountants of Ontario Act, 2017 or its predecessors
          include ../radio-button
            |  Being an employee, partner or sole proprietor of a newly established or soon to be established practising office or of an established practising office that has not been the subject of a practice inspection
          include ../radio-button
            |  I have NOT Completed the Practice Inspection Requirement
  div.applications-btn-group
    button(onclick="window.location.href='./applications-PAL-5-CPD-requirements.html'").cpao-btn-secondary Previous
    button(onclick="window.location.href='./applications-PAL-7-professional-experience.html'").cpao-btn-primary Next