// placeholder for breadbrumbs
div.applications-container
  div.applications-title
    h2 DRAFT Public Accounting License Application
    p 2018 |  Professional Experience
  div.applications-section  
    div.applications-section-title 
      h3  Professional Experience
    div.applications-section-details 
      div.application-section-description I declare that I have :
      div.row
        div.col-10
          include ../radio-button 
            |  Completed the Professional Experience Requirement. Over the immediate past five (5) years, I have completed a minimum of 2,500 eligible hours consisting of a minimum of 1,250 eligible hours in public accounting services and a maximum of 1,250 eligible hours in designated services.
          include ../radio-button
            |  Not completed the Professional Experience Requirement.
  div.applications-btn-group
    button(onclick="window.location.href='./applications-PAL-6-practice-inspection-requirements.html'").cpao-btn-secondary Previous
    button(onclick="window.location.href='./applications-PAL-8-schedule.html'").cpao-btn-primary Next