// placeholder for breadbrumbs
div.applications-container
  div.applications-title
    h2 DRAFT Public Accounting License Application
    p 2018 |  Experience Certification Report (Schedule A) and Qualifying Experience Report (Schedule C) 
  div.applications-section  
    div.applications-section-title 
      h3  Experience Certification Report (Schedule A) and Qualifying Experience Report (Schedule C) 
    div.applications-section-details 
      div.application-section-description A separate Schedule A must be completed for each employer (firm) where experience was obtained and must be certified by an existing licensee at the firm or by providing alternate certification that is acceptable to CPA Ontario
      div.application-section-description  Have you successfully completed your Post Designation Public Accounting Program?
      div.row
        div.col-10
          include ../radio-button 
            |  Yes
          include ../radio-button
            |  No
  div.applications-btn-group
    button(onclick="window.location.href='./applications-PAL-7-professional-experience.html'").cpao-btn-secondary Previous
    button(onclick="window.location.href='./applications-PAL-9-good-character-declaration.html'").cpao-btn-primary Next