// placeholder for breadbrumbs
div.applications-container
  div.applications-title
    h2 DRAFT Public Accounting License Application
    p 2018 |  Good Character Declaration
  div.applications-section  
    div.applications-section-title 
      h3  Good Character Declaration
    div.applications-section-details 
      div.application-section-description  Have you ever been convicted of a criminal offence or other similar offence for which a pardon has not been granted or are there any charges pending against you?
      div.row
        div.col-10
          include ../radio-button 
            |  Yes
          include ../radio-button
            |  No
      div.application-section-description  Are you, or have you ever been, subject to a disciplinary decision by an academic institution or a professional body?
      div.row
        div.col-10
          include ../radio-button 
            |  Yes
          include ../radio-button
            |  No
      div.application-section-description  Have you ever been found guilty of a violation of securities regulatory authority legislation or tax authority legislation, or is there any complaint or allegation outstanding against you?
      div.row
        div.col-10
          include ../radio-button 
            |  Yes
          include ../radio-button
            |  No
      div.application-section-description  Have you ever had a professional licence or permit suspended or revoked as a result of a disciplinary matter?   
      div.row
        div.col-10
          include ../radio-button 
            |  Yes
          include ../radio-button
            |  No
      div.application-section-description  Have you ever made an assignment in bankruptcy, been declared bankrupt or taken the benefit of any statutory provision for insolvency?
      div.row
        div.col-10
          include ../radio-button 
            |  Yes
          include ../radio-button
            |  No
      div.application-section-description  Have you ever been expelled from a professional association, society or institute or had your membership revoked? 
      div.row
        div.col-10
          include ../radio-button 
            |  Yes
          include ../radio-button
            |  No
  div.applications-btn-group
    button(onclick="window.location.href='./applications-PAL-8-schedule.html'").cpao-btn-secondary Previous
    button(onclick="window.location.href='./applications-PAL-10-references.html'").cpao-btn-primary Next