extends ../layout.pug

block title
    title AMD-CPD

block main-container
    main.container.noprint
        div.row.section
            include ../components/annual-obligations-AMD-CPD/2a-profile-information-view