extends ../layout.pug

block title
    title Annual Membership Dues

block main-container
    main.container.noprint
        div.row.section
            include ../components/annual-obligations-AMD-CPD/8-waiver