extends ../layout.pug

block title
    title Public Accounting License Application

block main-container
    main.container.noprint
        div.row.section
            include ../components/applications-PAL/2a-profile-information-view