extends ../layout.pug

block title
    title Audit

block main-container
    main.container.noprint
        div.row.section
            include ../components/dashboard-left-nav
            include ../components/audit/audit