extends ../layout.pug

block title
    title Financials

block main-container
    main.container.noprint
        div.row.section
            include ../components/dashboard-left-nav
            include ../components/financials/financials-info