extends ../layout.pug

block title
    title Firm Related Businesses

block main-container
    main.container.noprint
        div.row.section
            include ../components/dashboard-left-nav
            include ../components/firm-related-businesses/firm-related-businesses
