extends ../layout.pug

block title
    title Firm Annual Obligations

block main-container
    main.container.noprint
        div.row.section
            include ../components/dashboard-left-nav
            include ../components/firm-annual-obligations/firm-annual-obligations