extends ../layout.pug

block title
    title Firm Dashboard

block main-container
    main.container.noprint
        div.row.section
            include ../components/dashboard-left-nav
            include ../components/firm-dashboard/firm-dashboard-info
