extends ../layout.pug

block title
    title Firm Insurances

block main-container
    main.container.noprint
        div.row.section
            include ../components/dashboard-left-nav
            include ../components/firm-insurances/firm-insurances
