extends ../layout.pug

block title
    title Firm - Select Firm

block banner
    include ../components/banner-home

block main-container
    main.container.noprint
        div.row.section
            include ../components/firm-select-firm/firm-select-firm