extends ../layout.pug

block title
    title Firm Rosters

block main-container
    main.container.noprint
        div.row.section
            include ../components/firm-rosters/left-nav-component
            include ../components/firm-rosters/firm-rosters
