extends ../layout.pug

block title
    title Firm profile

block banner
    include ../components/banner-firm

block main-container
    main.container.noprint
        div.row.section
            include ../components/firm-profile/left-nav-component
            include ../components/firm-profile/firm-profile-info