extends ../layout.pug

block title
    title My profile

block banner
    include ../components/banner-home

block main-container
    main.container.noprint
        div.row.section
            include ../components/personal-profile/left-nav-component
            include ../components/personal-profile/personal-profile-info
