extends ../layout.pug

block title
    title Personal Applications

block main-container
    main.container.noprint
        div.row.section
            include ../components/dashboard-left-nav
            include ../components/personal-applications/personal-applications-info