extends ../layout.pug

block title
    title Personal Annual Obligations

block main-container
    main.container.noprint
        div.row.section
            include ../components/dashboard-left-nav
            include ../components/personal-annual-obligations/personal-annual-obligations