extends ../layout.pug

block title
    title Personal - New Application

block banner
    include ../components/banner-home

block main-container
    main.container.noprint
        div.row.section
            include ../components/personal-new-application/personal-new-application