extends ../layout.pug

block title
    title Personal Dashboard
block main-container
    main.container.noprint
        div.row.section
            include ../components/dashboard-left-nav
            include ../components/personal-dashboard/personal-dashboard-info