// Helpers
.text-right {
  text-align: right;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  padding-top: 120px;
}

@media (max-width: 767px) {
  body {
    padding-top: 110px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
    content: "";
  }
}

.clearfix {
  clear: both;
}

#wrapper {
  height: auto;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: $grey-light-1;
}

.em-topbar {
  background-color: #006FBA;
  border-color: #0069b4;
  color: $white;
  @include font-size(12);
  font-family: $montserratLight !important;
  position: fixed;
  top: 0;
  z-index: 1031;
  width: 100%;
  line-height: 45px;
  left: 0;
  width: 100%;
  transition: left .25s ease-in-out;
  a,
  a:hover,
  a:focus {
    color: $white;
  }
  .topbar-row {
    margin-right: 0;
    margin-left: 0;
  }
  .topmenu-holder {
    padding-right: 0;
    padding-left: 0;
  }
  .topbar-list {
    margin: 0;
    >li {
      border: 0 none !important;
      padding: 0 14px;
      display: table-cell;
      vertical-align: middle;
      white-space: nowrap;
    }
    &:last-child {
      border-color: #0064af;
      border-right: 0 none !important;
    }
  }
  .navbar-search {
    display: table;
    float: right !important;
  }
  .checkout-summary {
    padding: 5px !important;
  }
  #cart {
    margin-right: 15px;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    path {
      fill: $white
    }
  }
  .profile-mask {
    display: inline;
    clip-path: circle(15px at center);
    border: 1px solid $white;
  }
  .profile-dropdown-toggle {
    text-decoration: none;
    path {
      fill: $white;
    }
  }
  .profile-dropdown-image {
    height: 36px;
    width: 36px;
  }
  .dropdown-toggle::after {
    display: none;
  }
}

// Main nav
.em-topbar,
.fonteva-topnav,
.page-wrapper,
footer {
  left: 0;
  width: 100%;
  transition: left .25s ease-in-out;
}

.fonteva-topnav {
  @include font-size(16);
  .em-navbar {
    top: 27px;
    margin-bottom: 0;
    min-height: 75px;
    color: $black;
    background-color: $white;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .navbar-header {
    position: relative;
    top: 10px;
  }
  .navbar-brand {
    background-image: url('https://fonteva-customer-media.s3.amazonaws.com/00D3B000000Dc2eUAC/wLQuQqkM_CPA_Ontario_rgb.png');
    color: $white;
    width: 100%;
    min-width: 250px;
    max-width: 300px;
    height: 70px;
    padding: 15px 0 15px;
    background-position: 0 50%;
    background-size: contain;
    background-repeat: no-repeat;
    border-left: none;
  }
  .navbar-collapse {
    float: right;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .navbar-nav {
    display: inline-block;
    padding: 35px 35px 0 0;
    font-family: $montserratBold;
    text-transform: uppercase;
    @include font-size(12);
    >li {
      display: block;
      position: relative;
      float: left;
      margin: 0 10px;
      &:last-child {
        margin-right: 0;
      }
      >a {
        color: $grey;
        text-decoration: none;
        &:hover {
          border-bottom: 2px solid $green;
        }
      }
      .active {
        border-bottom: 2px solid $green;
      }
    }
  }
}

// Banner
.em-cover {
  .transparency,
  .transparency-firm {
    background-image: linear-gradient(rgba(255, 255, 255, 0.40), rgba(255, 255, 255, 0.40)), url(https://media.cpaontario.ca/Attachments/NewItems/CPA-Academic-Prerequisites-157580142-1920x890_20180126170131_0.jpg) !important;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .transparency-firm {
    background-image: linear-gradient(rgba(255, 255, 255, 0.40), rgba(255, 255, 255, 0.40)),
    url(https://www.canada175.ca/sites/default/files/styles/content_scale_width_1000px/public/assets/page/text_image/C175-About-Deloitte.jpg?itok=PzdM0hG2) !important;
  }
  .profile-photo {
    border-radius: 170px;
    margin: 65px 0;
    clip-path: circle(150px at center);
    border: 4px solid $white;
    overflow: hidden;
    width: 170px;
    height: 170px;
    img {
      max-width: 170px;
      ;
    }
  }
  .profile-banner-data-container {
    position: relative;
    top: 37%;
    p {
      display: inline;
      width: 100%;
      color: $grey;
      margin-bottom: 0px;
    }
    .profile-name {
      font-family: $montserratBold;
      @include font-size(24);
    }
    .profile-title {
      font-family: $montserratLight;
      @include font-size(18);
    }
  }
  .admin {
    .row {
      height: 100%;
    }
    #changeBanner {
      @include cpao-btn('primary');
      border-radius: 0;
      padding: 10px 20px;
      position: relative;
      top: 75%;
    }
  }
}

.cpao-footer {
  background-color: $white;
  border-top: 2px solid $grey-light-2;
  padding: 30px 0 0;
  .container {
    padding: 0 40px;
  }
  .footer-copy {
    font-family: $montserratLight;
    @include font-size(12);
    color: $grey;
  }
  .footer-links {
    @include ulInline();
    text-align: center;
    font-family: $montserratBold;
    @include font-size(11);
    a {
      color: $grey;
    }
  }
  .footer-social {
    @include ulInline();
    float: right;
    li {
      margin: 0 5px;
    }
    a {
      svg {
        height: 18px;
        width: 18px;
        vertical-align: middle;
        path {
          fill: $grey;
        }
      }
    }
  }
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border-radius: 0;
  background-color: $white;
  display: inline-block;
  width: 100%;
}

/*=============================================
=            Personal Dashboard Styles        =
=============================================*/

.dashboard-left-nav {
  @include dashboard-side-nav();
}

.personal-dashboard {
  @include dashboard-detail-page();
}

/*=============================================
=            Firm Dashboard Styles        =
=============================================*/

.dashboard-left-nav {
  @include dashboard-side-nav();
}

.firm-dashboard {
  @include dashboard-detail-page();
  .dashboard-title {
    button {
      @include font-size(8);
      cursor: pointer;
      font-family: $cpao-font-light;
      background-color: $green;
      border: 1px solid $green;
      color: $white;
      border-radius: 12px;
      padding: 2px 15px;
      float: right;
      margin-right: 50px;
      &:hover {
        background-color: $white;
        color: $green;
      }
    }
  }
}

/*=============================================
=            Personal Profile Styles          =
=============================================*/

.personal-profile-left-nav {
  @include profile-side-nav();
  width: fit-content;
  padding: 35px;
}

.personal-profile {
  @include profile-detail-page();
  table {
    @include font-size(14);
    margin-left: 40px;
    tr {
      height: 50px;
    }
    tr.section {
      @include font-size(16);
      height: 80px;
      font-family: $cpao-font-bold;
    }
    td.field {
      width: 250px;
      font-family: $cpao-font-light;
    }
    td.value {
      width: 300px;
    }
    input {
      width: 100%;
      border: 1px solid $grey-light-2;
      border-radius: 3px;
      padding: 5px;
      font-family: $cpao-font-light;
    }
    input::placeholder {
      @include font-size(13);
    }
  }
  #gender {
    @include font-size(12);
  }
  .save-btn-group {
    float: right;
    margin: 120px 30px 80px;
  }
}

/*=============================================
=            Firm Profile Styles          =
=============================================*/

.firm-profile-left-nav {
  @include profile-side-nav();
  width: fit-content;
  padding: 35px;
}

.firm-profile {
  @include profile-detail-page();
  table {
    @include font-size(14);
    margin-left: 40px;
    tr {
      height: 50px;
    }
    tr.section {
      @include font-size(16);
      height: 80px;
      font-family: $cpao-font-bold;
    }
    td.field {
      width: 250px;
      font-family: $cpao-font-light;
    }
    td.value {
      width: 300px;
      font-family: $cpao-font-light;
    }
  }
  .save-btn-group {
    float: right;
    margin: 120px 30px 80px;
  }
}

/*=============================================
=            Button Styles                    =
=============================================*/

.cpao-btn-primary {
  @include cpao-btn('primary');
}

.cpao-btn-secondary {
  @include cpao-btn('secondary');
}

.cpao-btn-tertiary {
  @include cpao-btn('tertiary');
}

.cpao-form-edit-btn {
  @include cpao-form-btn('edit',
  $green,
  $white,
  $white,
  $green,
  $grey-light-3,
  $green);
}

.cpao-form-add-btn {
  @include cpao-form-btn('add',
  $white,
  $blue,
  $blue,
  $white,
  $blue,
  $blue);
}

.cpao-radio-btn {
  @include generic-radio-btn();
}

/*=============================================
=            Select Styles                    =
=============================================*/

.cpao-select {
  @include select();
}

/*=============================================
=            Tile Styles                    =
=============================================*/

.generic-tile {
  @include generic-tile();
}

.summary-tile {
  @include summary-tile();
}

.half-width-tile {
  @include half-width-tile();
}

.generic-full-tile {
  @include generic-full-tile();
}

.tile-content {
  margin-right: 35px;
  margin-left: 30px;
  margin-top: 0;
}

.tile-row>div:first-child {
  margin-right: 30px;
}

/*=============================================
=            Horizontal Line Styles           =
=============================================*/

hr {
  border-top: solid 1px $grey-light-3;
}

/*=============================================
=            Personal Applications Styles     =
=============================================*/

.personal-applications-left-nav {
  @include dashboard-side-nav();
}

.personal-applications {
  @include dashboard-detail-page();
  .applications-menu {
    margin: 60px 0 30px 0;
    a {
      @include link();
      cursor: pointer;
      font-family: $cpao-font-light;
      @include font-size(16);
    }
    a:first-child {
      margin-left: 30px;
    }
    a:not(:last-child) {
      margin-right: 60px;
    }
  }
}

/*=============================================
=      Personal Annual Obligations Styles     =
=============================================*/

.personal-annual-obligations-left-nav {
  @include dashboard-side-nav();
}

.personal-annual-obligations {
  @include dashboard-detail-page();
  .applications-menu {
    margin: 60px 0 30px 0;
    a {
      @include link();
      cursor: pointer;
      font-family: $cpao-font-light;
      @include font-size(16);
    }
    a:first-child {
      margin-left: 30px;
    }
    a:not(:last-child) {
      margin-right: 60px;
    }
  }
}

/*=============================================
=          Firm Annual Obligations Styles     =
=============================================*/

.firm-annual-obligations-left-nav {
  @include dashboard-side-nav();
}

.firm-annual-obligations {
  @include dashboard-detail-page();
  .applications-menu {
    margin: 60px 0 30px 0;
    a {
      @include link();
      cursor: pointer;
      font-family: $cpao-font-light;
      @include font-size(16);
    }
    a:first-child {
      margin-left: 30px;
    }
    a:not(:last-child) {
      margin-right: 40px;
    }
    button {
      @include font-size(10);
      cursor: pointer;
      font-family: $cpao-font-light;
      background-color: $green;
      border: 1px solid $green;
      color: $white;
      border-radius: 12px;
      padding: 5px 20px;
      float: right;
      margin-right: 50px;
      &:hover {
        background-color: $white;
        color: $green;
      }
    }
  }
}

/*=============================================
=           Detailed Card Styles     =
=============================================*/

.detailed-card {
  .title {
    @include font-size(16);
    font-family: $cpao-font-medium;
    margin-top: 30px !important;
    p {
      @include font-size(12);
      float: right;
      font-family: $cpao-font-light;
    }
  }
  .date {
    font-family: $cpao-font-light;
    margin-top: 5px !important;
    @include font-size(12);
  }
  .description {
    font-family: $cpao-font-light;
    @include font-size(12);
    margin-top: 30px !important;
    margin-bottom: 40px;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    button:first-child {
      color: $blue;
      @include font-size(12);
      font-family: $cpao-font-medium;
      border: none;
      &:hover {
        color: $grey-light-4;
      }
    }
  }
  .withdraw-svg {
    float: left;
    margin-right: 10px;
    margin-top: 1px;
  }
  .withdraw-btn {
    &:hover {
      svg {
        #Mask {
          fill: $grey-light-4;
        }
        #mask-2 {
          fill: $white;
        }
      }
    }
  }
}

.new-application {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $cpao-font-medium;
  @include font-size(18);
  img {
    width: 50px;
    float: left;
    margin-left: 30px;
  }
  button {
    cursor: pointer;
    border: none;
    font-family: $cpao-font-regular;
    @include font-size(18);
    color: $grey;
    width: 50%;
    text-align: left;
    margin-left: 30px;
  }
}

/*=============================================
=           Bootstrap Modal Center Styles     =
=============================================*/

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
  width: 100%;
}

@media (min-width: 576px) {
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
}

.modal-full-width {
  width: 100%;
}

.modal-header {
  padding: 20px 20px 20px 60px;
  box-shadow: 0 2px 0 0 $grey-light-6;
  h5 {
    font-family: $cpao-font-medium;
    @include font-size(18);
    color: $grey;
  }
}

.modal-body {
  padding: 20px 60px 20px 60px;
  .modal-section {
    margin-bottom: 30px;
    h5 {
      font-family: $cpao-font-medium;
      @include font-size(18);
      color: $grey;
    }
  }
}

.modal-footer.save-btn-group {
  button {
    @include font-size(10);
    padding: 5px 20px;
  }
}

/*=============================================
=           New Application Styles     =
=============================================*/

.new-application-container {
  margin: 30px 0;
  background-color: $white;
  overflow-y: scroll;
  max-height: 390px;
  div:not(:last-child) {
    margin-bottom: 10px;
  }
}

.active-application {
  background-color: $blue;
  p {
    color: $white;
  }
  img {
    content: url('./../images/Applications-Active.svg') !important;
  }
}

.new-application-record {
  border: 1px solid $grey-light-5;
  border-radius: 5px;
  height: 90px;
  width: 90%;
  margin: auto;
  color: $grey;
  display: flex; // justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px $grey;
  }
  img {
    content: url('./../images/Applications.svg');
    float: left;
    height: 38px;
    width: 26px;
    margin-left: 30px;
  }
  .new-applicatin-desc {
    margin-left: 20px;
    margin-top: 1rem;
    p.title {
      font-family: $cpao-font-medium;
      @include font-size(14);
      margin-bottom: 5px;
    }
    p.subtitle {
      font-family: $cpao-font-light;
      @include font-size(12);
    }
  }
}

/*=============================================
=              Financials Styles              =
=============================================*/

.table-tile-title {
  @include table-tile-title();
}

.generic-table {
  @include generic-table();
  tr {
    line-height: 30px;
  }
}

#financials-recent-transactions {
  img {
    content: url('./../images/Recent_Transactions.svg');
  }
}

#financials-paid-services {
  img {
    content: url('./../images/Paid_Services.svg');
  }
}

#financials-additional {
  img {
    content: url('./../images/Additional.svg');
  }
}

/*=============================================
=              Rosters Styles              =
=============================================*/

.roster-table {
  tr {
    td:first-child {
      font-family: $cpao-font-bold;
    }
  }
}

.search-container {
  padding-top: 30px;
  .search-bar {
    width: 75%;
    display: flex !important;
    border-radius: 3px;
    border: solid 1px $grey-light-3;
    .search-icon {
      display: inline;
      padding: 0 5px;
      img {
        content: url('./../images/Icon - Search Copy 4.png'); // transform: translate(10px,27px);
      }
    }
  }
  .search-input {
    width: 100%;
    input {
      @include font-size(14);
      font-family: $cpao-font-light;
      width: 100%;
      line-height: 2;
      border: none !important;
    }
    input::placeholder {
      @include font-size(12);
      font-family: $cpao-font-light;
    }
  }
  .add-roster {
    font-family: $cpao-font-medium;
    @include font-size(12);
    color: $grey;
    width: 25%;
    text-align: end;
    margin: auto;
    button {
      cursor: pointer;
      height: 28px;
      width: 30px;
      border: 1px solid $grey-light-3;
      border-radius: 4px;
      margin-right: 10px;
      @include font-size(18);
      font-family: $cpao-font-light;
      color: $green;
      &:hover,
      &:focus {
        color: $white;
        background-color: $green;
        border: 1px solid $green;
      }
    }
    label {
      display: inline-block;
      margin-bottom: 5px;
      vertical-align: bottom;
    }
  }
}

/*=============================================
=        Related Businesses Styles            =
=============================================*/

.business-container {
  border-radius: 3px;
  border: solid 1px $grey-light-3;
  margin-top: 30px; // padding: 30px;
  .business-header {
    padding: 30px 30px 0 30px;
    justify-content: space-between;
    display: flex;
    .business-title {
      font-family: $cpao-font-light;
      p:first-child {
        @include font-size(14);
        font-family: $cpao-font-medium;
        color: $blue;
        margin: 0;
      }
      p:last-child {
        @include font-size(12);
        color: $grey;
      }
    }
    .edit-button {
      float: right;
      button {
        background-color: $white;
        border: none;
        @include font-size(14);
        color: $grey;
        font-family: $cpao-font-medium;
      }
    }
  }
}

/*=============================================
=        Related Businesses Styles            =
=============================================*/

.insurance-content {
  padding-top: 30px;
  div:not(:first-child) {
    margin-top: 30px;
  }
  .insurance-container {
    border-radius: 3px;
    border: solid 1px $grey-light-3;
    .insurance-header {
      padding: 30px 30px 0 30px;
      justify-content: space-between;
      display: flex;
      .insurance-title {
        font-family: $cpao-font-light;
        p:first-child {
          @include font-size(14);
          font-family: $cpao-font-medium;
          color: $blue;
          margin: 0;
        }
        p:last-child {
          @include font-size(12);
          color: $grey;
        }
      }
      .insurance-status {
        float: right;
        margin: 0;
        @include font-size(14);
        color: $grey;
        font-family: $cpao-font-medium;
      }
    }
    .insurances-view-more {
      margin: 15px 30px 15px 0;
      text-align: right;
      a {
        cursor: pointer;
        @include font-size(14);
        font-family: $cpao-font-light;
        color: $grey;
        &:hover {
          color: $blue;
          font-family: $cpao-font-medium;
        }
      }
    }
  }
  .insurances-table {
    @include font-size(12);
    margin: 0;
    tr:first-child {
      background-color: #FAF7F7;
      border-top: 1px solid $grey-light-3;
    }
    tr {
      border-bottom: 1px solid $grey-light-3;
    }
    th,
    td {
      text-align: center;
    }
    th {
      font-family: $cpao-font-medium;
    }
  }
}

/*=============================================
=          PAL Application Styles            =
=============================================*/

.applications-container {
  width: 80%;
  margin: auto;
  margin: 60px auto 0 auto;
}

.applications-title {
  color: $grey;
  margin-bottom: 60px;
  h2 {
    @include font-size(28);
    font-family: $cpao-font-medium;
  }
  p {
    @include font-size(14);
    font-family: $cpao-font-light;
  }
}

.applications-subtitle {
  margin-bottom: 50px;
  color: $grey;
  h3 {
    @include font-size(19);
    font-family: $cpao-font-medium;
  }
  p {
    @include font-size(14);
    font-family: $cpao-font-light;
  }
}

.applications-btn-group {
  float: right;
  margin-bottom: 30px;
  button {
    padding: 10px 0;
    width: 200px;
  }
  button:first-child {
    margin: 20px;
  }
}

.applications-section,
.AMD-section {
  margin-bottom: 60px;
  .applications-section-title {
    display: flex;
    margin-bottom: 20px;
    h3 {
      color: $blue;
      @include font-size(19);
      font-family: $cpao-font-medium;
    }
    button {
      padding: 5px 20px 5px 30px;
      width: auto;
      float: right;
    }
  }
  .applications-section-details {
    font-family: $cpao-font-light;
    color: $grey;
    @include font-size(14);
    .application-section-description {
      font-family: $cpao-font-medium;
      color: $grey;
      @include font-size(14);
      margin-bottom: 10px;
    }
  }
}

.personal-info-edit {
  padding-left: 30px !important;
}

.field-name-value {
  @include generic-field-name-value();
}

.employer-info {
  font-family: $cpao-font-medium;
  @include font-size(16);
  color: $grey;
  margin-bottom: 20px;
}

.employment-search {
  font-family: $cpao-font-regular;
  color: $grey-light-3;
  @include font-size(14);
  padding-top: 20px;
}

.employment-search-bar {
  margin-top: 10px;
  width: 60% !important;
}

.employer-not-listed {
  margin-left: 10px;
  margin-top: 15px;
  a {
    @include link();
    font-family: $cpao-font-regular !important;
    color: $grey-light-3 !important;
    @include font-size(14);
    &:hover,
    &:focus {
      color: $blue !important;
    }
  }
}

.field-name-input {
  @include generic-field-name-input();
}

.employer-input {
  margin-bottom: 15px;
  input {
    width: 50%;
  }
  input::placeholder {
    @include font-size(12);
  }
}

.employer-dropdowns {
  margin-bottom: 15px;
  width: 50%;
  select {
    border-radius: 3px;
    border: 1px solid $grey-light-3;
    line-height: 2;
    @include font-size(14);
    padding: 0;
  }
  option:first-child {
    @include font-size(12);
  }
  div {
    background: url("./../images/caret-down.png") no-repeat 95% 50%;
  }
}

.employer-dropdown-title {
  font-family: $cpao-font-light;
  color: $grey-light-3;
  @include font-size(12);
  margin-bottom: 10px;
}

.employer-radio-title {
  font-family: $cpao-font-light;
  color: $grey;
  @include font-size(14);
  margin-bottom: 15px;
}

.employer-dates-container {
  display: flex;
  justify-content: space-between;
  .employer-dates {
    margin-bottom: 15px;
    width: 45%;
    input {
      width: 100%;
    }
    input::placeholder {
      @include font-size(12);
    }
  }
}

.role-container {
  padding-top: 20px;
}

/*=============================================
=                  AMD/CPD Styles            =
=============================================*/

.AMD-section {
  margin-bottom: 30px;
  .AMD-section-title {
    // justify-content: space-between;
    display: flex;
    margin: 20px 0;
    h3 {
      color: $blue;
      @include font-size(19);
      font-family: $cpao-font-medium;
    }
    button {
      padding: 5px 20px 5px 30px;
      width: auto;
      float: right;
    }
  }
  .AMD-subtitle {
    color: $grey;
    h3 {
      @include font-size(19);
      font-family: $cpao-font-medium;
    }
    p {
      @include font-size(14);
      font-family: $cpao-font-light;
    }
  }
  .upload-waiver {
    @include font-size(12);
    font-family: $cpao-font-medium;
    color: $white;
    cursor: pointer;
    border: 1px solid $blue;
    border-radius: 12px;
    background-color: $blue;
    &:hover, &:focus {
      color: $blue;
      background-color: $white;
    }
  }
}

.generic-checkbox {
  padding-left: 15px;
  display: flex;
  input {
    float: left;
    margin-right: 5px;
    margin-top: 5px;
  }
}
.poa-btns {
  button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .edit {
    img {
      content: url('./../images/_ionicons_svg_md-create_grey.svg');
      &:hover, &:focus {
        content: url('./../images/_ionicons_svg_md-create.svg');
      }
    }
  }
  .delete {
    img {
      content: url('./../images/_ionicons_svg_md-trash-grey.svg');
      &:hover, &:focus {
        content: url('./../images/_ionicons_svg_md-trash.svg');
      }
    }
  }
}

/*=============================================
=                 Support Styles              =
=============================================*/

.support-container {
  width: 80%;
  margin: auto;
  h2 {
    margin-top: 60px;
    color: $grey;
    @include font-size(28);
    font-family: $cpao-font-medium;
  }
  .search-bar {
    width: 100%;
  }
  .search-icon {
    background-color: $white;
  }
}

.request-title-container {
  margin-top: 60px;
  display: flex;
  p {
    @include font-size(22);
  }
  button {
    height: 25px;
    @include font-size(10);
    cursor: pointer;
    font-family: $cpao-font-light;
    background-color: $green;
    border: 1px solid $green;
    color: $white;
    border-radius: 12px;
    padding: 5px 15px;
    float: right;
    &:hover {
      background-color: $white;
      color: $green;
    }
  }
  .firm-info {
    width: 100%;
  }
  .firm-name {
    font-family: $cpao-font-light;
    color: $grey;
  }
  .member-request-icon {
    height: 58px;
    width: 88px;
    margin-right: 30px;
    display: inline-block;
    vertical-align: middle;
  }
  .request-title {
    margin: 0;
    color: $blue;
    @include font-size(28);
    font-family: $cpao-font-medium;
    display: inline-block;
    vertical-align: middle;
  }
}

.new-request-container {
  margin-top: 60px;
  .submitted-requests {
    float: right;
    .arrow {
      margin: 0;
      margin-top: 10px;
      margin-right: 30px;
      @include arrow(12px, 2px, 2px, 20px);
      @include arrowColor($green);
    }
    a {
      @include font-size(16);
      color: $grey !important;
      font-family: $cpao-font-light;
      cursor: pointer;
      margin-right: 15px;
    }
    &:hover {
      .arrow {
        @include arrow(15px, 4px, 4px, 20px);
      }
    }
  }
  .request-section {
    margin: 60px 0;
    h5 {
      font-family: $cpao-font-medium;
      @include font-size(18);
      color: $grey;
      margin-bottom: 30px;
    }
    .request-item {
      @include font-size(16);
      color: $grey;
      font-family: $cpao-font-light;
      margin-bottom: 15px;
      cursor: pointer;
      display: block;
    }
  }
}

.support-tiles-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  .support-tile {
    width: 47%;
    height: 300px;
    img {
      height: 70%;
    }
  }
  .support-link {
    background-color: $turquoise;
    height: 30%;
    text-align: center;
    line-height: 5;
    a {
      cursor: pointer;
      font-family: $cpao-font-regular;
      @include font-size(16);
      color: $white;
    }
    &:hover,
    &:focus {
      background-color: $white;
      border: 3px solid $turquoise;
      a {
        font-family: $cpao-font-regular;
        @include font-size(16);
        color: $turquoise;
      }
    }
  }
}
.support-desc-container {
  margin-bottom: 60px;
  font-family: $cpao-font-light;
  @include font-size(16);
  color: $grey;
}