// Colors
$grey: #4F4F4F;
$grey-light-1: #F4F5F5;
$grey-light-2: #EDEEEE;
$grey-light-3: #C1C1C1;
$grey-light-4: #B9B9B9;
$grey-light-5: #979797;
$grey-light-6: #F0F2F7;
$white: #FFFFFF;
$green: #009A49;
$blue: #006FBA;
$turquoise: #007397;
$black: #000000;

$blue-focus: #66afe9; // Focus outline for buttons and links

// Fonts
$montserrat:       "MontserratRegular", "Arial", sans-serif;
$montserratLight : "MontserratLight","Arial",sans-serif;
$montserratMedium:       "MontserratMedium", "Arial", sans-serif;
$montserratBold:       "MontserratBold", "Arial", sans-serif;

$cpao-font-regular: $montserrat;
$cpao-font-light: $montserratLight;
$cpao-font-medium: $montserratMedium;
$cpao-font-bold: $montserratBold;

/*=============================================
=            Screen Sizes        =
=============================================*/

$xs-screen: 400px;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1080px;
$xll-screen: 1200px;