/*=============================================
=           Font Mixins           =
=============================================*/

// Font Size
@mixin font-size($size, $important: 'false') {
  @if $important=='true' {
    font-size: ($size*100%/14.5)( !important)
  }
  font-size: ($size*100%/14.5);
}

/*=============================================
=            Focus Mixins            =
=============================================*/

/* focus for light backgrounds (default) */

@mixin focus() {
  outline-width: 2px !important;
  outline-style: solid !important;
  outline-color: $blue-focus !important;
  outline-offset: 2px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  transition: none !important;
  z-index: 1;
}

/*=============================================
=            Inline unordered list reset            =
=============================================*/

@mixin ulInline() {
  padding-left: 0;
  list-style: none;
  li {
    display: inline-block;
    margin: 0 10px;
  }
}

// Apply to the ul tag.  Otherwise it won't work.
/*=====  End of Inline unordered list reset  ======*/

/*=============================================
=            Profile Side Nav Mixins          =
=============================================*/

// Profile Side Nav
@mixin profile-side-nav() {
  @include font-size(14);
  font-family: $cpao-font-light;
  color: $grey;
  padding: 30px 20px 20px !important;
  .well {
    ul {
      padding: 0 0 20% 0;
      list-style-type: none;
      margin: 0;
      li {
        position: relative;
        padding-bottom: 10%;
        a {
          color: $grey;
          text-decoration: none;
          &:hover,
          &:focus {
            text-decoration: none;
            font-family: $cpao-font-bold;
            &::before {
              content: "";
              content: "";
              color: #009A49;
              position: absolute;
              border-style: solid;
              border-width: 0px 4px 0 0;
              height: 70%;
              top: -5px;
              left: -13px;
            }
          }
        }
      }
    }
  }
}

// Dashboard Side Nav
@mixin dashboard-side-nav() {
  padding: 0 0 20px 0 !important;
  margin-top: 30px;
  height: 700px;
  min-height: 700px;
  width: fit-content;
  .well {
    @include font-size(14);
    font-family: $cpao-font-medium;
    height: inherit;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(0deg, #64B8B8 0%, #006AA5 100%);
    padding: 20px 0 20px 20px;
    .profile-container {
      height: 40%;
      img {
        height: auto;
        width: 40%;
        margin-left: 30%;
        margin-right: 20%;
        margin-bottom: 10%;
        margin-top: 15%;
        border: 4px solid $grey-light-1;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
      }
      .profile-desc {
        color: $white;
        text-align: center;
        p {
          margin-bottom: 5px;
        }
        p:first-child {
          font-family: $cpao-font-medium;
        }
        p:last-child {
          font-family: $cpao-font-light;
        }
      }
      .firm-desc {
        color: $white;
        text-align: center;
        p {
          margin-bottom: 5px;
          span:first-child {
            font-family: $cpao-font-medium;
          }
        }
        p:first-child {
          font-family: $cpao-font-medium;
        }
        p:last-child {
          font-family: $cpao-font-light;
        }
      }
    }
    .links-container {
      height: 50%;
      ul {
        padding: 0 0 20% 0;
        list-style-type: none;
        margin: 0;
        li {
          position: relative;
          padding: 15px 0 15px 15px; // margin-left: 15px;
          a {
            color: $white;
            text-decoration: none;
            padding: 10px 100% 10px 15px;
            &:hover,
            &:focus {
              text-decoration: none;
              font-family: $cpao-font-medium;
              opacity: 1;
              background: #529FBF;
              &::before {
                content: "";
                color: $white;
                position: absolute;
                border-style: solid;
                border-width: 0px 4px 0 0;
                height: 78%;
                left: 11px;
                top: 6px;
              }
            }
          }
        }
      }
    }
    .button-container {
      display: flex;
      justify-content: center;
      max-height: 10%;
      button {
        @include cpao-btn('tertiary');
        @include font-size(14);
        padding: 10px 30px;
        margin-right: 15px;
      }
    }
  }
}

/*=============================================
=            Detail Page Mixins               =
=============================================*/

// Profile detail page mixin
//Contains panel with white background and title
@mixin profile-detail-page() {
  margin-top: 30px;
  .section-heading {
    @include font-size(16);
    font-family: $cpao-font-bold;
    background-color: $green;
    color: $white;
    margin: 10px 0 30px -19px;
    width: 30%;
    padding: 10px 0 10px 30px;
  }
  .well {
    margin-bottom: 0;
  }
}

// Dashboard detail page mixin
//Contains panel with grey background, title
@mixin dashboard-detail-page() {
  background-color: $grey-light-2;
  margin-top: 30px;
  padding: 0;
  .dashboard-title {
    @include font-size(22);
    height: 60px;
    font-family: $cpao-font-bold;
    color: $grey;
    background-color: $grey-light-2;
    margin: 10px 0 0 30px;
    padding: 10px 0 10px 0;
  }
  .dashboard-tile-container {
    margin: 0 30px 30px 30px; // div {
    // margin-top: 15px;
    // div:first-child {
    // margin-right: 35px;
    // margin-left: 30px;
    // }
    // }
    // width: 100%;
    height: 605px;
  }
}

/*=============================================
=            Mixins for Buttons            =
=============================================*/

// name: accepts primary, secondary, tertiary
@mixin cpao-btn($name) {
  @if $name=='primary' {
    cursor: pointer;
    background-color: $blue;
    color: $white;
    border: 1px solid $blue;
    @include font-size(12);
    font-family: $cpao-font-medium;
    min-width: 100px;
    padding: 5px;
    &:hover,
    &:focus {
      border: 2px solid $blue;
      background-color: $white;
      color: $blue;
    }
    &:active {
      border: 2px solid $blue;
      background-color: $white;
      color: $blue;
    } // TODO: determine disabled button styling
    // &:disabled {
    //   background-color: ;
    //   border:  ;
    //   color: ;
    // }
  }
  @if $name=='secondary' {
    cursor: pointer;
    background-color: $white;
    color: $grey;
    border: 1px solid $grey-light-2;
    @include font-size(12);
    font-family: $cpao-font-light;
    min-width: 100px;
    padding: 5px;
    &:hover,
    &:focus {
      border: 2px solid $grey-light-2;
      background-color: $grey-light-2;
      color: $grey;
    }
    &:active {
      border: 2px solid $grey-light-2;
      background-color: $grey-light-2;
      color: $grey;
    } // TODO: determine disabled button styling
    // &:disabled {
    //   background-color: ;
    //   border:  ;
    //   color: ;
    // }
  }
  @if $name=='tertiary' {
    cursor: pointer;
    background-color: transparent;
    color: $white;
    border: 1px solid $white;
    @include font-size(12);
    font-family: $cpao-font-light;
    min-width: 100px;
    padding: 5px;
    &:hover,
    &:focus {
      border: 1px solid $white;
      background-color: $white;
      color: $black;
    }
    &:active {
      border: 1px solid $white;
      background-color: $white;
      color: $grey;
    } // TODO: determine disabled button styling
    // &:disabled {
    //   background-color: ;
    //   border:  ;
    //   color: ;
    // }
  }
  &:focus {
    @include focus();
  }
}

@mixin cpao-form-btn($name, $color, $hoverColor, $background, $backgroundHover, $border, $borderHover) {
  @if $name=='edit' {
    padding-left: 30px !important;
    background-image: url('./../images/_ionicons_svg_md-create.svg');
    background-repeat: no-repeat;
    background-position-x: 5px;
    &:hover,
    &:focus {
      background-image: url('./../images/_ionicons_svg_md-create_hover.svg');
    }
    svg {
      fill: $color;
      &:hover,
      &:focus {
        fill: $hoverColor;
      }
    }
  }
  @include font-size(10);
  font-family: $cpao-font-medium;
  height: 25px;
  width: 70px;
  border: 1px solid $border;
  border-radius: 12px;
  background-color: $background;
  margin-left: 20px;
  color: $color;
  padding-left: 20px !important;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $hoverColor;
    border: 1px solid $borderHover;
    border-radius: 12px;
    background-color: $backgroundHover;
    margin-left: 20px;
  }
}

/*=============================================
=            Mixin for Select                =
          Use with a div wrapper
=============================================*/

@mixin select() {
  border: 1px solid $grey-light-2;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  background: $white;
  display: inline-flex;
  div {
    display: inherit;
    width: 100%;
    background: url("./../images/caret-down.png") no-repeat 95% 50%;
  }
  select {
    @include font-size(14);
    color: $grey;
    font-family: $cpao-font-light;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
  }
  select:focus {
    outline: none;
  }
}

/*=============================================
=            Mixin for Tile                =
=============================================*/

// generic white tile with no content
@mixin generic-tile() {
  background-color: $white;
  height: 255px;
  width: 48%; // margin-left: 40px;
  margin-top: 30px;
  @media (max-width: $xll-screen) {
    height: auto;
    width: 300px;
    padding-bottom: 30px;
  }
  @media (max-width: $lg-screen) {
    width: 100%;
    height: 250px;
    padding-bottom: 30px;
    margin: auto auto 30px auto !important;
  }
}

// tile with title, subtitle and button
@mixin summary-tile() {
  .summary-tile-title {
    display: block;
    margin-top: 30px !important;
    margin-bottom: 25px;
    img {
      display: inline;
      height: 40px;
    }
    p {
      @include font-size(18);
      font-family: $cpao-font-medium;
      color: $grey;
      display: inline;
      margin-left: 10px;
    }
  }
  .summary-tile-desc {
    display: block; // padding: 0 30px;
    margin-bottom: 30px;
    @include font-size(14);
    font-family: $cpao-font-light;
    color: $grey;
  }
  .summary-tile-button {
    text-align: center;
    a {
      @include font-size(14);
      color: $grey;
      font-family: $cpao-font-medium;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// half width tile
@mixin half-width-tile() {
  width: 100%;
}

// full width and height tile
@mixin generic-full-tile {
  width: 100%;
  height: 100%;
  background-color: $white;
}

// title for tile with table
@mixin table-tile-title() {
  margin-top: 30px !important;
  img {
    display: inline;
    height: 40px;
  }
  p {
    display: inline;
    margin-left: 10px;
  }
  span {
    font-family: $cpao-font-medium;
    color: $grey;
  }
  p:first-child {
    @include font-size(20);
  }
  p:last-child {
    @include font-size(14);
  }
  span:last-child {
    @include font-size(14);
    float: right;
  }
}

/*=============================================
=            Mixin for Link                =
=============================================*/

// styling links to have hover effect, no underline, and grey font color
@mixin link() {
  cursor: pointer;
  color: $grey !important;
  text-decoration: none !important;
  &:hover,
  &:focus {
    text-decoration: none !important;
    font-family: $cpao-font-medium;
  }
  &:active {
    text-decoration: none !important;
    font-family: $cpao-font-medium;
  }
}

/*=============================================
=            Mixin for Table               =
=============================================*/

@mixin generic-table() {
  margin-top: 15px;
  width: 100%;
  font-family: $cpao-font-light;
  @include font-size(14);
}

/*=============================================
=            Mixin for Field Name/Value       =
=============================================*/

@mixin generic-field-name-value() {
  p:first-child {
    font-family: $cpao-font-light;
    color: $grey-light-3;
    @include font-size(12);
    margin-bottom: 5px;
  }
  p:last-child {
    font-family: $cpao-font-regular;
    color: $grey;
    @include font-size(14);
  }
}

/*=============================================
=            Mixin for Field Name/Input       =
=============================================*/

@mixin generic-field-name-input() {
  margin-bottom: 10px;
  label {
    font-family: $cpao-font-light;
    color: $grey-light-3;
    @include font-size(12);
    margin-bottom: 5px;
    display: block;
  }
  input {
    font-family: $cpao-font-regular;
    color: $grey;
    @include font-size(14);
    display: block;
    border-radius: 3px;
    border: 1px solid $grey-light-3;
    line-height: 2;
  }
  input::placeholder {
    padding-left: 5px;
    @include font-size(13);
  }
}

/*=============================================
=            Mixin for Radio Button           =
=============================================*/

/* The container */

@mixin generic-radio-btn {
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    @include font-size(22);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  /* On mouse-over, add a grey background color */
  .container:hover input~.checkmark {
    background-color: $grey-light-3;
  }
  /* When the radio button is checked, add a blue background */
  .container input:checked~.checkmark {
    background-color: $green;
  }
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Show the indicator (dot/circle) when checked */
  .container input:checked~.checkmark:after {
    display: block;
  }
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $white;
  }
}

/*=============================================
=            Arrow Mixins            =
=        Use with 1 span element     =
=============================================*/

@mixin rotate($angle) {
  -moz-transform: rotate($angle);
  -ms-transform: rotate($angle);
  -webkit-transform: rotate($angle);
  transform: rotate($angle);
}

@mixin arrow($arrowSize, $arrowBorderSize, $arrowBarWidth, $arrowBarHeight) {
  display: inline-block;
  height: $arrowSize;
  position: relative;
  width: $arrowSize;

  &::after {
    border-bottom-style: solid;
    border-bottom-width: $arrowBorderSize;
    border-right-style: solid;
    border-right-width: $arrowBorderSize;
    content: '';
    display: inline-block;
    height: $arrowSize;
    left: 0;
    position: absolute;
    top: 0;
    width: $arrowSize;
  }

  // States
  &.is-top {
    @include rotate(225deg);
  }

  &.is-right {
    @include rotate(315deg);
  }

  &.is-bottom {
    @include rotate(45deg);
  }

  &.is-left {
    @include rotate(135deg);
  }
}

@mixin arrowColor($color) {
  &,
  .arrow {
    &::after {
      border-color: $color;
    }

    &.is-triangle::after {
      border-color: transparent;
      border-bottom-color: $color;
    }

    &::before {
      background-color: $color;
    }
  }
}