// Styles reused in firm-select-firm.html
// Button trigger modal
button.btn.btn-primary(type='button' data-toggle='modal' data-target='#newApplicationModal')
  | Launch demo modal
// Modal
#newApplicationModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='newApplicationModal' aria-hidden='true')
  .modal-dialog.modal-lg.modal-dialog-centered(role='document')
    .modal-content.modal-full-width
      .modal-header
        h5.modal-title New Application:
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      #modal-body.modal-body
        .new-application-container
          #item1.new-application-record
            img
            div.new-applicatin-desc
              p.title Application Name
              p.subtitle Brief description of what application entails. Lorem ipsum dolor sit amed.
          #item2.new-application-record 
            img
            div.new-applicatin-desc
              p.title Application Name
              p.subtitle Brief description of what application entails. Lorem ipsum dolor sit amed.
          #item3.new-application-record 
            img
            div.new-applicatin-desc
              p.title Application Name
              p.subtitle Brief description of what application entails. Lorem ipsum dolor sit amed.
          #item4.new-application-record 
            img
            div.new-applicatin-desc
              p.title Application Name
              p.subtitle Brief description of what application entails. Lorem ipsum dolor sit amed.
          #item5.new-application-record 
            img
            div.new-applicatin-desc
              p.title Application Name
              p.subtitle Brief description of what application entails. Lorem ipsum dolor sit amed.
      .modal-footer.save-btn-group
        button.cpao-btn-secondary(type='button' data-dismiss='modal') Cancel
        button.cpao-btn-primary(type='button' disabled) Begin Application
