div#personal-dashboard.personal-dashboard.col-md-9
  div.dashboard-title Personal Dashboard
  div.dashboard-tile-container
    div.row.no-gutters.tile-row
      div.generic-tile.summary-tile
        div.tile-content
          div.summary-tile-title
            img(src='./images/Applications.svg')
            p Applications
          div.summary-tile-desc
            p Brief description of applications. Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.
          hr
          div.summary-tile-button
            //- This can be a button if required.
            a(href='personal-applications.html') View All
      div.generic-tile.summary-tile
        div.tile-content
          div.summary-tile-title
            img(src='./images/Annual_Obligations.svg')
            p Annual Obligations
          div.summary-tile-desc
            p Brief description of applications. Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.
          hr
          div.summary-tile-button
            //- This can be a button if required.
            a(href='personal-annual-obligations.html') View All
    div.row.no-gutters.tile-row
      div.generic-tile.summary-tile
        div.tile-content
          div.summary-tile-title
            img(src='./images/Declarations.svg')
            p Declarations
          div.summary-tile-desc
            p Brief description of applications. Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.
          hr
          div.summary-tile-button
            //- This can be a button if required.
            a(href='personal-applications.html') View All
      div.generic-tile.summary-tile
        div.tile-content
          div.summary-tile-title
            img(src='./images/Additional.svg')
            p Additional
          div.summary-tile-desc
            p Brief description of applications. Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.
          hr
          div.summary-tile-button
            //- This can be a button if required.
            a(href='personal-applications.html') View All


