div#personal-annual-obligations.personal-applications.col-md-9
  include ../applications-menu
  div.dashboard-tile-container
    div.row.no-gutters.tile-row
      include ../detailed-card-obligations
      include ../detailed-card-obligations
      div.row.no-gutters.tile-row
        include ../detailed-card-obligations
        include ../detailed-card-obligations