div#firm-rosters.firm-annual-obligations.col-md-9
  div.applications-menu
    a(aria-expanded='true' data-toggle='tab' href='#rosters') Rosters
    a(aria-expanded='true' data-toggle='tab' href='#related-businesses') Related Businesses
    a(aria-expanded='true' data-toggle='tab' href='#insurances') Insurances
    a(aria-expanded='true' data-toggle='tab' href='#annual-obligations') Annual Obligations
    button Switch Firm
  div.dashboard-tile-container
    div.generic-full-tile
      div.tile-content.insurance-content
        div.insurance-container
          div.insurance-header
            div.insurance-title
              p Insurance #000000
              p Effective Date
            div.insurance-status Status 
          table.generic-table.insurances-table
            tr
              th Account Name
              th Coverage Type
              th Name of Policy Holder
              th Policy Holder CPA ID
            tr
              td Account Name
              td Coverage Type
              td Name of Policy Holder
              td Policy Holder CPA ID
          div.insurances-view-more
            a View More
        div.insurance-container
          div.insurance-header
            div.insurance-title
              p Insurance #000000
              p Effective Date
            div.insurance-status Status
          table.generic-table.insurances-table
            tr
              th Account Name
              th Coverage Type
              th Name of Policy Holder
              th Policy Holder CPA ID
            tr
              td Account Name
              td Coverage Type
              td Name of Policy Holder
              td Policy Holder CPA ID
          div.insurances-view-more
            a View More