
div#financials.personal-dashboard.col-md-9
  div.dashboard-title Financials
  div.dashboard-tile-container
    div.row.no-gutters
      div.generic-tile.half-width-tile
        div#financials-recent-transactions.tile-content
          div.table-tile-title
            img(src='./images/Applications.svg')
            span
              p Applications
              p | All
            span Filter
          table.generic-table
            tr
              td Transaction Number
              td MM / DD / YYYY
              td $ Total
              td Payment Method
              td Status
            tr
              td Transaction Number
              td MM / DD / YYYY
              td $ Total
              td Payment Method
              td Status
            tr
              td Transaction Number
              td MM / DD / YYYY
              td $ Total
              td Payment Method
              td Status
            tr
              td Transaction Number
              td MM / DD / YYYY
              td $ Total
              td Payment Method
              td Status
    div.row.no-gutters.tile-row
      div#financials-paid-services.generic-tile.summary-tile
        div.tile-content
          div.summary-tile-title
            img(src='./images/Paid_Services.svg')
            p Paid Services
          div.summary-tile-desc
            p Brief description of applications. Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.
          hr
          div.summary-tile-button
            a View All
      div#financials-additional.generic-tile.summary-tile
        div.tile-content
          div.summary-tile-title
            img(src='./images/Additional.svg')
            p Additional
          div.summary-tile-desc
            p Brief description of applications. Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.
          hr
          div.summary-tile-button
            a View All


