// placeholder for breadbrumbs
div.applications-container
  div.applications-title
    h2 DRAFT Annual Membership Dues
    p 2018 | Instructions and Requirements
  div.AMD-section  
    div.AMD-section-title 
     h3 Annual Membership Dues
  div.applications-subtitle 
    h3 Membership Dues Period
    p April 1 - March 31
  div.applications-subtitle 
    h3 Payment Due Date
    p June 1
  div.applications-subtitle 
    h3 Late Fee
    p Payments received between June 2 and June 30 are subject to a maximum late fee of $100.  Members are subject to suspension after June 30.
  div.AMD-section  
    div.AMD-section-title 
      h3 Continued Professional Development
  div.applications-subtitle 
    h3 CPD Declaration Period
    p January 1 – December 31
  div.applications-subtitle 
    h3 Declaration Due Date
    p June 1
  div.applications-subtitle 
    h3 Late Fee
    p Declarations received between June 2 and June 30 are subject to a $25 late fee.  Members are subject to suspension after June 30.
  div.applications-subtitle 
    p If you require assistance with completing your obligation, please contact a member of CPA Ontario’s Customer Service team Monday to Friday, 8 a.m. to 6 p.m. at 1 .800 387.0735 or online via https://www.cpaontario.ca/contact-us
  div.applications-btn-group
    button(onclick="window.location.href='./personal-annual-obligations.html'").cpao-btn-secondary Cancel
    button(onclick="window.location.href='./annual-obligations-AMD-CPD-2a-profile-information-view.html'").cpao-btn-primary Begin











