// placeholder for breadbrumbs
div.applications-container
  div.applications-title
    h2 DRAFT Annual Membership Dues
    p 2018 | Review Profile Information
  div.applications-section  
    div.applications-section-title 
      h3 Personal Information
      button(onclick="window.location.href='./annual-obligations-AMD-CPD-2b-profile-information-edit.html'").cpao-form-edit-btn.personal-info-edit Edit
    div.applications-section-details
      div.row
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value 
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
  div.applications-section  
    div.applications-section-title 
      h3 Contact
      button(onclick="window.location.href='./annual-obligations-AMD-CPD-2b-profile-information-edit.html'").cpao-form-edit-btn.personal-info-edit Edit
    div.applications-section-details
      div.row
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value 
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
  div.applications-section  
    div.applications-section-title 
      h3 Address
      button(onclick="window.location.href='./applications-PAL-2b-profile-information-edit.html'").cpao-form-edit-btn.personal-info-edit Edit
    div.applications-section-details
      div.row
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value 
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
  div.applications-btn-group
    button(onclick="window.location.href='./annual-obligations-AMD-CPD-1-instructions.html'").cpao-btn-secondary Previous
    button(onclick="window.location.href='./annual-obligations-AMD-CPD-3a-employment-information-view.html'").cpao-btn-primary Next