// placeholder for breadbrumbs
div.applications-container
  div.applications-title
    h2 DRAFT Annual Membership Dues
    p 2018 | Review Employment Information
  div.applications-section  
    div.applications-section-title 
      h3 Employment Information
    div.applications-section-details
      div.row
        div.col-4
          include ../field-name-value
  div.applications-section  
    div.applications-section-title 
      h3 Employers
      button.cpao-form-add-btn(type='button' data-toggle='modal' data-target='#newEmployerModal') &#43; Add New
    div.applications-section-details
      div.employer-info Employer Name - 123 Address, City
      div.employer-info Role
      div.row
        div.col-4
          include ../field-name-input
          include ../field-name-input
        div.col-4
          include ../field-name-input
          include ../field-name-input
  div.applications-section  
    div.applications-section-details
      div.employer-info Employer Name - 123 Address, City
      div.employer-info Role
      div.row
        div.col-4
          include ../field-name-input
          include ../field-name-input
        div.col-4
          include ../field-name-input
          include ../field-name-input
  div.applications-btn-group
    button(onclick="window.location.href='./annual-obligations-AMD-CPD-3a-employment-information-view.html'").cpao-btn-secondary Cancel
    button(onclick="window.location.href='./annual-obligations-AMD-CPD-3a-employment-information-view.html'").cpao-btn-primary Save
// Modal
#newEmployerModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='newObligationModal' aria-hidden='true')
  .modal-dialog.modal-lg.modal-dialog-centered(role='document')
    .modal-content.modal-full-width
      .modal-header
        h5.modal-title Add New Employer:
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      #modal-body.modal-body
        div.modal-section
          h5 Employer
          div.search-container.employment-search 
            div.employment-search-title Employer Name
            div.row.no-gutters
              div.search-bar.employment-search-bar.col-6
                div.search-icon
                  img
                div.search-input
                  input(placeholder='Search Employers')
              div.employer-not-listed.col-4
                a Employer not listed?
        div.modal-section
          h5 Role
          div.role-container
            div.field-name-input.employer-input
              label Position Title
              input(placeholder='Position Title')
            div.employer-dropdown-title Position Category
            div.cpao-select.employer-dropdowns
              div
                select#positionCategory
                  option(default) Select Position Category
                  option(value="") Information
                  option(value="") Information
                  option(value="") Information
            div.row.no-gutters
              div.employer-dates-container
                div.field-name-input.employer-dates
                  label Start Date
                  input(placeholder='MM / DD / YYYY')
                div.field-name-input.employer-dates
                  label End Date
                  input(placeholder='MM / DD / YYYY')
            div.employer-dropdown-title Business Unit
            div.cpao-select.employer-dropdowns
              div
                select#positionCategory
                  option(default) Business Unit
                  option(value="") Information
                  option(value="") Information
                  option(value="") Information
          div.employer-radio-title  
            div.row.no-gutters Is this your primary employer?
              div.col-10
                include ../radio-button 
                  |  Yes
                include ../radio-button
                  |  No
      .modal-footer.save-btn-group
        button.cpao-btn-secondary(type='button' data-dismiss='modal') Cancel
        button.cpao-btn-primary(type='button' onclick="window.location.href='./annual-obligations-AMD-CPD-3a-employment-information-view.html'") Add Employer