// placeholder for breadbrumbs
div.applications-container
  div.applications-title
    h2 DRAFT Annual Membership Dues
    p 2018 | Extended Member Profile
  div.AMD-section  
    div.AMD-section-title 
      h3 Extended Member Profile
  div.applications-section  
    div.applications-section-details 
      div.application-section-description Are you providing professional services in Ontario (irrespective of whether a fee is charged or not) as defined in the CPA Ontario By-laws, where individuals are entitled to rely on your membership with CPA Ontario as giving you particular expertise, competence and requiring due care, integrity and objectivity?
      div.row
        div.col-10
          include ../radio-button 
            |  Yes
          include ../radio-button
            |  No
  div.applications-section  
    div.applications-section-title 
    div.applications-section-details
      div.application-section-description What work are you performing or associated with as at April 1 of the current year? At least one service is required. Please select all that apply.
      div.row
        div.col-4
          div.generic-checkbox
            input(type='checkbox') 
            label Service Type
          div.generic-checkbox
            input(type='checkbox') 
            label Service Type
          div.generic-checkbox
            input(type='checkbox') 
            label Service Type
          div.generic-checkbox
            input(type='checkbox') 
            label Service Type
          div.generic-checkbox
            input(type='checkbox') 
            label Service Type
          div.generic-checkbox
            input(type='checkbox') 
            label Service Type
        div.col-4
          div.generic-checkbox
            input(type='checkbox') 
            label Service Type
          div.generic-checkbox
            input(type='checkbox') 
            label Service Type
          div.generic-checkbox
            input(type='checkbox') 
            label Service Type
          div.generic-checkbox
            input(type='checkbox') 
            label Service Type
          div.generic-checkbox
            input(type='checkbox') 
            label Service Type
          div.generic-checkbox
            input(type='checkbox') 
            label Service Type 
        div.col-4
          div.generic-checkbox
            input(type='checkbox') 
            label Service Type
          div.generic-checkbox
            input(type='checkbox') 
            label Service Type
          div.generic-checkbox
            input(type='checkbox') 
            label Service Type
          div.generic-checkbox
            input(type='checkbox') 
            label Service Type
          div.generic-checkbox
            input(type='checkbox') 
            label Service Type
          div.generic-checkbox
            input(type='checkbox') 
            label Service Type
  div.applications-section  
    div.applications-section-details 
      div.application-section-description In what capacity are you providing the above-noted professional services in Ontario as at April 1, in the current year?
      div.row
        div.col-10
          div.field-name-value
            p Through an entity/entities registered with CPA Ontario as a firm.
            p Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.
          div.field-name-value
            p Through an entity/entities NOT registered with CPA Ontario as a firm.
            p Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.
  div.applications-section  
    div.applications-section-details 
      div.application-section-description Are you a registrant with any of the following?
      div.row
        div.col-10
          include ../radio-button 
            |  Canadian Public Account Board (CPAB)
          include ../radio-button
            |  Public Company Accounting Oversight Board (PCAOB)
          include ../radio-button
            |  Both CPAB and PCAOB
          include ../radio-button
            |  None
  div.applications-btn-group
    button(onclick="window.location.href='./annual-obligations-AMD-CPD-3a-employment-information-view.html'").cpao-btn-secondary Previous
    button(onclick="window.location.href='./annual-obligations-AMD-CPD-5-obligation.html'").cpao-btn-primary Next