// placeholder for breadbrumbs
div.applications-container
  div.applications-title
    h2 DRAFT Annual Membership Dues
    p 2018 |  Obligation
  div.AMD-section  
    div.AMD-section-title 
      div.AMD-subtitle 
        p Please review the CPD Requirements or the CPD Required Exemptions for details and eligibility criteria. 
  div.AMD-section  
    div.AMD-section-title 
      h3 CPD Audits
    div.AMD-subtitle  
      p CPA Ontario annually audits a random sample of CPD declaration. Please ensure you retain any relevant CPD documentation for the next seven years. Only CPAs selected for audit will be contacted.
    div.applications-section-details 
      div.application-section-description Please select one of the following declarations:
      div.application-section-description Full CPD Requirements
      div.row
        div.col-10
          include ../radio-button 
            |  Comply with full CPD requirements
          include ../radio-button
            |  Comply with other professional body requirements
    div.applications-section-details 
      div.application-section-description Retired CPD Requirements
      div.row
        div.col-10
          include ../radio-button 
            |  Retired Exemption
          include ../radio-button
            |  Retired
    div.applications-section-details 
      div.application-section-description CPD Exemptions
      div.row
        div.col-10
          include ../radio-button 
            |  Maternity / parenting / family care for 6 months or more
          include ../radio-button
            |  Unemployment for 6 months or more
          include ../radio-button
            |  Medical leave for 6 months or more
          include ../radio-button
            |  Other extraordinary consequences
    div.applications-section-details 
      div.application-section-description I do not comply
      div.row
        div.col-10
          include ../radio-button 
            |  I do not comply
  div.AMD-section  
    div.AMD-section-title 
      div.AMD-subtitle 
        p Each year, Members of CPA Ontario are required to complete 20 hours of CPD - a minimum of 50% of these hours are to be verifiable.  In addition, Members are required to complete 120 hours of CPD within each rolling three-year period - a minimum of 50% of these hours are to be verifiable AND 4 hours of the 120 hours are to relate to ethics.
  div.applications-btn-group
    button(onclick="window.location.href='./annual-obligations-AMD-CPD-4-extended-member-profile.html'").cpao-btn-secondary Previous
    button(onclick="window.location.href='./annual-obligations-AMD-CPD-6-fees.html'").cpao-btn-primary Next