// placeholder for breadbrumbs
div.applications-container
  div.applications-title
    h2 DRAFT Annual Membership Dues
    p 2018 |  Calculating Fees and Taxes
  div.AMD-section  
    div.AMD-section-title 
      h3 AMD Fees
    div.AMD-subtitle  
      p Please answer the following questions by picking the applicable province
      div.applications-section-details 
        div.application-section-description I am paying my full provincial membership dues through
        div.cpao-select.employer-dropdowns
          div
            select#positionCategory
              option(default) Select Province
              option(value="") Information
              option(value="") Information
              option(value="") Information
      div.applications-section-details 
        div.application-section-description I am paying my CPA Canada fee through
        div.cpao-select.employer-dropdowns
          div
            select#positionCategory
              option(default) Select Province
              option(value="") Information
              option(value="") Information
              option(value="") Information
  div.AMD-section  
    div.AMD-section-title 
      h3 Waivers and Reductions
    div.AMD-subtitle  
      p Please review the Policy for Waiver, Reductions or Deferrals or the Retired or Equivalent Waiver for details and eligibility criteria
      div.applications-section-details 
        div.application-section-description I am applying for a waiver or reduction of my Annual Membership Dues because of (Select only ONE):
        div.cpao-select.employer-dropdowns
          div
            select#positionCategory
              option(default) Select Reason
              option(value="") Information
              option(value="") Information
              option(value="") Information
  div.AMD-section  
    div.AMD-section-title 
      h3 Deferral of Fee Payment
    div.AMD-subtitle  
      p Where the member’s inability to pay the annual membership dues is expected to be for a short term, the member should request a deferral of the dues payment until a dater later in the year.  A member will have an extension until December 31 of the current year to pay the dues.  The member’s projected business and employment gross earnings (excluding investments, pension, disability, and employment insurance) for the current calendar year will be less than $32,364 and net equity is less than $200,000
    div.applications-section-details 
      div.application-section-description I am applying for a deferral
      div.row
        div.col-10
          include ../radio-button 
            |  Yes
          include ../radio-button
            |  No
  div.applications-btn-group
    button(onclick="window.location.href='./annual-obligations-AMD-CPD-5-obligation.html'").cpao-btn-secondary Previous
    button(onclick="window.location.href='./annual-obligations-AMD-CPD-7-poa.html'").cpao-btn-primary Next