// placeholder for breadbrumbs
div.applications-container
  div.applications-title
    h2 DRAFT Annual Membership Dues
    p 2018 |  Plan of Action
  div.AMD-section  
    div.AMD-section-title
      h3 Plan of Action
      button.cpao-form-add-btn(type='button' data-toggle='modal' data-target='#newEmployerModal') &#43; Add New
    div.AMD-subtitle  
      div.applications-section-details 
        div.application-section-description.poa-btns Course Name
          button.edit
            img
          button.delete
            img
        p Course Title
    div.AMD-subtitle  
      div.applications-section-details 
        div.application-section-description.poa-btns Course Name
          button.edit
            img
          button.delete
            img
        p Course Title
    div.AMD-subtitle  
      div.applications-section-details 
        div.application-section-description.poa-btns Course Name
          button.edit
            img
          button.delete
            img
        p Course Title
  div.applications-btn-group
    button(onclick="window.location.href='./annual-obligations-AMD-CPD-6-fees.html'").cpao-btn-secondary Previous
    button(onclick="window.location.href='./annual-obligations-AMD-CPD-8-waiver.html'").cpao-btn-primary Next