// placeholder for breadbrumbs
div.applications-container
  div.applications-title
    h2 DRAFT Annual Membership Dues
    p 2018 |  Waiver
  div.AMD-section  
    div.AMD-section-title
      h3 Waiver
  div.AMD-section  
    div.applications-section-details 
      div.application-section-description Our records indicate that you have submitted the following waiver for you Annual Membership Dues:
      div.row
        div.col-10
          include ../field-name-value
  div.AMD-section  
    div.applications-section-details 
      div.application-section-description Please upload the applicable documentation to support this waiver.
      div.row
        div.col-10
          include ../radio-button 
            |  Yes, I have supporting documentation to provide.
          include ../radio-button
            |  No, I do not have documentation to support this claim.
          button.upload-waiver(type='button') &#43; Attach Documentation
  div.applications-btn-group
    button(onclick="window.location.href='./annual-obligations-AMD-CPD-7-poa.html'").cpao-btn-secondary Previous
    button(onclick="window.location.href='./annual-obligations-AMD-CPD-9-review.html'").cpao-btn-primary Next