// placeholder for breadbrumbs
div.applications-container
  div.applications-title
    h2 DRAFT Annual Membership Dues
    p 2018 |  Review
  div.applications-section  
    div.applications-section-title 
      h3  Personal Information
    div.applications-section-details 
      div.row
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value 
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
    div.applications-section-title 
      h3  Employment Information
    div.applications-section-details 
      div.row
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value 
    div.applications-section-title 
      h3  Extended Member Profile
    div.applications-section-details 
      div.row
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value 
    div.applications-section-title 
      h3  Obligation
    div.applications-section-details 
      div.row
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value 
    div.applications-section-title 
      h3  Calculating Fees and Taxes
    div.applications-section-details 
      div.row
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value 
    div.applications-section-title 
      h3  Plan of Action
    div.applications-section-details 
      div.row
        div.col-4
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value
          include ../field-name-value 
  div.applications-section  
    div.applications-section-title 
      h3  Attestation
    div.applications-section-details 
      div.application-section-description I declare that: 
      div.row
        div.col-10.generic-checkbox
          input(type='checkbox') 
          label The information provided in this application is accurate, true and complete. I understand that the information provided herein is essential to CPA Ontario in considering my application and making any required determinations. I also understand that providing any false or misleading statements to CPA Ontario may be used in any proceedings respecting the validity of my application or of my status with CPA Ontario, as applicable. I will advise CPA Ontario of any changes to the information provided herein in a timely manner. I will comply at all times with the provisions of the Public Accounting Act, 2004, the Chartered Professional Accountants of Ontario Act, 2017, and with the by-laws, Regulations and Code of Professional Conduct of CPA Ontario, as each of them may be amended or replaced from time to time.
  div.applications-btn-group
    button(onclick="window.location.href='./annual-obligations-AMD-CPD-8-waiver.html'").cpao-btn-secondary Previous
    button(onclick="window.location.href='./personal-dashboard.html'").cpao-btn-primary Submit AMD/CPD