.THIS .vertical-navigation {
	background: linear-gradient( #016CA0,#2E8FB2,#6DB6A9);
	color: #fff;
	height: 700px;	
	width: 300px;
}
.THIS .slds-is-active:before{
	background-color: #fff;
}
.THIS.userprofile {
	width: 100%;
	float: left;
	clear: both;
	margin: 40px auto;
	

}
.THIS .slds-tabs__nav-scroller{
	display: none;
}
.THIS .slds-tabs_default__nav{
	display: none;
}

.THIS .slds-tabs_default__content{
	padding: 0px 0px;
}


.THIS .userpic {
	
	height: 108px;	
	width: 108px;
	clear: both;
	margin: 0 auto;
	display: block;
	border-radius: 100%;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
.THIS .userpicimg {
	height: auto;
	width: 100%;
	border-radius: 100%;
}
.THIS .content {
	background: #CCC;
}



.THIS .btn-cancel{
	height: 4.2rem;
	width: auto;
}
.THIS .adjust-card-new-application{
	margin-top: 3rem;
	margin-left: 3rem;
}
.THIS .brief-application{
	margin-top: 2rem;
	margin-left:1rem;
	height: 12rem;
}

.THIS .slds-scope {
	background-color:#EEEEEE; 
}
.THIS .slds-tabs_default{
	background-color:#EEEEEE; 
}
.THIS.background {
	background-color:#EEEEEE; 
}

.THIS .cpao-btn {
	font-size: 16px !important;

}
.THIS .align-another-status{
	margin-left: -0.7rem;

}

.THIS .align-self-end{
	margin-right: -2rem;
}
.THIS.font-color-card{
	color: #9ca4ab;
}
.THIS.footer-card{
	outline: 0;
	display: inline-block;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.THIS.cards-button{
	font-family: 'Montserrat';
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

.THIS #cards{
	padding:5px;
	float:left; 
	width: 330px;
	margin-right: 3rem;
	position: relative;
	margin-top: 3rem;
	word-break: break-word	;
	white-space: pre-line;
	background-color: #FFF;
	height: 255px;
}

.THIS #cards-application{
	padding:5px;
	float:left; 
	width: 370px;
	margin-right: 4rem;
	position: relative;
	margin-top: 4rem;
	word-break: break-word	;
	white-space: pre-line;
	background-color: #FFF;
	height: 27rem;
}

.THIS.slds-scope .slds-truncate {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.THIS.slds-tabs_default__item {
	list-style-type: none;
}
.THIS .adjust-cards{

	margin-bottom: 10%;
	margin-top: 1%;
	margin-left: 65%;

}

.THIS .adjust-cards-personal{

	
	margin-top: 1%;
	

}


.THIS .slds-scope .slds-tabs_default__link{
	max-width: 100%;
	overflow: none;
	text-overflow: none;
	white-space: nowrap;
	display: block;
	text-decoration: none;
	cursor: none;
	height: 0;
	line-height: 0;
	color: currentColor;
	border: 0;
	list-style-type: none;

}

.THIS .slds-scope .slds-tabs--default__link {
	max-width: 100%;
	overflow: none;
	text-overflow: none;
	white-space: nowrap;
	display: block;
	text-decoration: none;
	cursor: none;
	height: 0;
	line-height: 0;
	color: currentColor;
	border: 0;
	list-style-type: none;
}

.THIS .list-change{
	list-style-type: none;
}

.THIS .cellphone_font{
	font-size: 1.5rem;
	line-height: 1.25;
}
.THIS .header-text{
	height: 4rem;
	width: 34rem;
	color: #4f4f4f;
	font-family: 'Lato';
	line-height: 19px;
	margin-top: 1rem;
	font-size: 20px;
}
.THIS .body-text{
	font-family: 'Montserrat';
	font-size: 16px !important;
	color: #4F4F4F;
}

@media (min-width: 320px) and (max-width: 480px) {

	.THIS .another-button{
		margin-right: 1rem;
	}
	.THIS .align-another-status{
		margin-left: 0;
		margin-top: -2rem;
	}
	.THIS .btn-cancel{
		height: 4.2rem;
		width: 10rem;
	}
	.THIS .btn-align-application{
		margin-right: -2rem;
	}

	.THIS .brief-application{
		margin-top:0;
	}
	.THIS .size-adjust{
		height: 19.3rem;

	}
	.THIS .status-application{
		margin-top: -3rem;
	}
	.THIS .text-card-new-application{
		padding-left: 0;
	}
	.THIS .adjust-application-cellphone{
		margin-left: 0;
		margin-right: -1rem;
	}
	.THIS .cellphone_size {
		font-size: 0.750rem;
		line-height: 1.25;
		font-weight: 600;
	}

	.THIS .btn{
		padding: 5px 10px;
	}

	.THIS .cpao-btn{
		font-size: 8.5px !important;
	}

	.THIS .adjust-cards{

		margin-bottom: 10%;
		margin-top: 1%;
		margin-left: 30%;

	}
	.THIS .align-self-end{
		margin-right: -4rem;
	}
	.THIS #cards{
		height: auto;
		width: 41%;
		margin-right: 2rem;
	}
	.THIS #cards-application{
		height: auto;
		width: 41%;
		margin-right: 2rem;
	}
	.THIS .cellphone_font{
		font-size: 1.0rem;
	}

	.THIS .header-text{
		font-size: 1.0rem;
		line-height: 1.25;

	}

	.THIS .body-text{
		font-size: 10px !important;
	}

	.THIS .cpao-btn{
		margin: 3% 16px 0 0;
	}
}
@media (min-width: 481px) and (max-width: 767px) {

	.THIS .another-button{
		margin-right: 1rem;
	}
	.THIS .align-another-status{
		margin-left: 0;
		margin-top: -2rem;
	}
	.THIS .btn-cancel{
		height: 4.2rem;
		width: 10rem;
	}
	.THIS .text-card-new-application{
		padding-left: 0;
	}
	.THIS .status-application{
		margin-top: -3rem;
	}
	.THIS .brief-application{
		margin-top:0;
	}
	.THIS .adjust-application-cellphone{
		margin-left: 0;
		margin-right: 0;
	}
	.THIS .cellphone_size {
		font-size: 0.750rem;
		line-height: 1.25;
		font-weight: 600;
	}
	.THIS .adjust-card-new-application{
		margin-top: 4rem;
		margin-left: 1rem;
		margin-bottom: 10.3rem;
	}
	.THIS .btn{
		padding: 5px 10px;
	}

	.THIS .cpao-btn{
		font-size: 11px !important;
	}
	
	.THIS .adjust-cards{

		margin-bottom: 10%;
		margin-top: 1%;
		margin-left: 30%;

	}

	.THIS #cards{
		height: auto;
		margin-right: 2rem;
	}

	.THIS #cards-application{
		height: auto;
		margin-right: 2rem;
	}

	.THIS .cellphone_font{
		font-size: 1.0rem;
	}

	.THIS .cpao-btn{
		margin: 3% 16px 0 0;
	}
	.THIS .align-self-end{
		margin-right: -1rem;
	}

}

@media (min-width: 1025px) and (max-width: 1281px) {

	.THIS #cards{

		height: 255px;
	}

	.THIS #cards-application{

		height: 30rem;
	}

	.THIS .align-another-status{
		margin-left: 0;
	}
	.THIS #cards-application{
		margin-right: 3rem;
	}

}