<apex:page showHeader="false"
    standardStylesheets="false"
    docType="html-5.0"
    applyHtmlTag="false"
    applyBodyTag="false"
    sidebar="false">
	<h1>
        this is a test
    </h1>
    <apex:iframe src="http://www.salesforce.com" scrolling="false" id="theIframe"/>


</apex:page>