<!--apex:page standardController="CPAO_Application__c">
    <apex:repeat value="{!$ObjectType.CPAO_Application__c.FieldSets.FirmRegistrationFields}" var="f"> 
        <apex:outputText value="{!f.Label}" /><br/>
        <apex:outputText value="{!f}" /><br/>
    </apex:repeat>
</apex:page 

<apex:page standardController="CPAO_Application__c" renderAs="PDF">
    <apex:pageBlock title="Application Fields">
        <apex:dataTable value="{!$ObjectType.CPAO_Application__c.FieldSets.FirmRegistrationFields}" var="f">
            
            <apex:column value="{!f.Label}">
                <apex:facet name="header">Label</apex:facet>
            </apex:column> 
             
            <apex:column value="{!CPAO_Application__c[f]}" >
                <apex:facet name="header">Value</apex:facet>
            </apex:column> 
        </apex:dataTable > 
    </apex:pageBlock> 
</apex:page>-->



<apex:page standardController="CPAO_Application__c"  renderAs="PDF">
    <apex:pageBlock title="Application Field Names">
        <apex:pageBlockTable value="{!$ObjectType.CPAO_Application__c.FieldSets.FirmRegistrationFields}" var="f">
             
            <apex:column value="{!f.Label}">
                <apex:facet name="header">Label</apex:facet>
            </apex:column> 
            <apex:column value="{!CPAO_Application__c[f]}" >
                <apex:facet name="header">Value</apex:facet>
            </apex:column> 
                        
            


            <!--apex:outputText value="{!CPAO_Application__c[f]}" /><br/-->
 
        </apex:pageBlockTable> 
    </apex:pageBlock> 
</apex:page>