<!--<apex:page standardstylesheets="false"
           sidebar="false"
           showheader="false"
           applyhtmltag="false"
           applybodytag="false"
           doctype="html-5.0">
    <apex:composition template="CPBase__template">
        <apex:define name="pageTitle">
            Test Page
        </apex:define>

        <apex:define name="pageMain">
            <div class="well">
                <button class="btn btn-primary ladda-button" href="#"><span class="ladda-label">Test</span></button>
            </div>
        </apex:define>

    </apex:composition>
</apex:page>-->
<apex:page standardController="CPAO_Application__c" renderAs="pdf">
    <apex:detail relatedList="false" />
</apex:page>