<apex:page showHeader="false"
    standardStylesheets="false"
    docType="html-5.0"
    applyHtmlTag="false"
    applyBodyTag="false"
    controller="CPAO_UpdatePersonalinformationCTRL">
    <apex:composition template="CPBase__template">

        <apex:define name="pageMain">
            <div role="tabpanel" class="tab-pane" id="xxxpb2" align="Left" style="width:50%">
                <apex:form >
              
                    <apex:pageBlock mode="inlineEdit" id="xxxpb1">
                        
                        <apex:pageBlockSection title="Personal Information: Name" columns="2">          
                            <apex:outputField value="{!contact.CPAO_Legal_Surname__c}"/>
                            <apex:outputField value="{!contact.CPAO_Legal_Given__c}"/>
                            <apex:inputField value="{!contact.DonorApi__Suffix__c}"/>
                            <apex:inputField value="{!contact.LastName}" required="true"/>
                            <apex:inputField value="{!contact.FirstName}" required="true"/>
                        </apex:pageBlockSection>
                        <apex:pageBlockSection title="Personal Information: Demographics" columns="2">
                            <apex:inputField value="{!contact.Birthdate}" type="date" required="true"/>
                            <apex:inputField value="{!contact.CPAO_Gender__c}" required="true"/>
                        </apex:pageBlockSection>
                        <apex:pageBlockSection title="Personal Information: Contact Information" columns="2">
                            <apex:inputField value="{!contact.Phone}" type="tel" required="true"/>
                            <apex:inputField value="{!contact.CPAO_Alternate_Email__c}"/>
                        </apex:pageBlockSection>
                        <apex:pageBlockSection title="Personal Information: Address" columns="2">
                            <apex:inputField value="{!contact.CPAO_Preferred_Mailing_Address__c}" required="true"/>
                            <apex:inputField value="{!contact.MailingStreet}" required="true"/>
                            <apex:inputField value="{!contact.OtherStreet}"/>
                            <apex:inputField value="{!contact.MailingCity}" required="true"/>
                            <apex:inputField value="{!contact.OtherCity}"/>
                            <apex:inputField value="{!contact.MailingState}"/>
                            <apex:inputField value="{!contact.OtherState}"/>
                            <apex:inputField value="{!contact.MailingCountry}" required="true"/>
                            <apex:inputField value="{!contact.OtherCountry}"/>
                            <apex:inputField value="{!contact.MailingPostalCode}"/>
                            <apex:inputField value="{!contact.OtherPostalCode}"/>

                        </apex:pageBlockSection>
                            <apex:actionRegion >
                                <apex:inputCheckbox label="Change Legal Name" value="{!changeLegalName}">
                                Change Legal Name&nbsp;&nbsp;
                                    <apex:actionSupport event="onchange" rerender="xxxpb1" />
                                </apex:inputCheckbox>
                            </apex:actionRegion>
                        <apex:pageBlockSection columns="1" rendered="{!changeLegalName}">
                            <p>Satisfactory proof of identity and legal name can be fulfilled by submitting a PDF attachment of one of the following primary identification documents:</p>
                            <p>• Birth Certificate</p>
                            <p>• Baptismal Certificate</p>
                            <p>• Passport</p>
                            <p>• Both sides of a Canadian Citizenship Certificate or Card</p>
                            <p>• Both sides of a Permanent Resident Card</p>
                            <p>• Landing immigration papers</p>
                            <p>• Both sides of a valid Ontario Driver's license</p>
                            <p>• Both sides of a valid Nexus card</p>
                        </apex:pageBlockSection>
                        <apex:pageBlockSection columns="2" rendered="{!changeLegalName}">

                            <apex:inputField value="{!application.CPAO_Legal_Given_Name_s__c}" rendered="{!changeLegalName}" required="true"/>
                            <apex:inputField value="{!application.CPAO_Legal_Surname__c}" rendered="{!changeLegalName}" required="true"/>

                            <apex:pageBlockSectionItem rendered="{!changeLegalName}">
                                <apex:outputLabel value="*Document 1" for="file"/>
                                <apex:inputFile value="{!attachment.body}" filename="{!attachment.name}" id="file" required="true"/>
                            </apex:pageBlockSectionItem>

                            <apex:pageBlockSectionItem rendered="{!changeLegalName}">
                                <apex:outputLabel value="Document 2" for="file"/>
                                <apex:inputFile value="{!attachment2.body}" filename="{!attachment2.name}" id="file2"/>
                            </apex:pageBlockSectionItem>
                        </apex:pageBlockSection>
                        <apex:pageBlockButtons location="bottom">
                            <apex:commandButton action="{!save}" value="Save"/>
                        </apex:pageBlockButtons>
                    </apex:pageBlock>

                </apex:form>
            </div>
        </apex:define>

    </apex:composition>
</apex:page>