.THIS {
	zoom:130%;
	font-size:14px;
	/*text-align: justify;*/
}

.THIS h1,.THIS h2{
	font-weight:bold
}

.THIS a{
	text-decoration: underline;
}

.THIS.PALheader{
	text-align: center;
	font-weight:bold;
	font-size:14px;
}

.THIS .label_instructions {
	display: inline-block;
    color: rgb(107, 109, 112);
    font-size: .75rem;
    line-height: 1.5;
    margin-right: .75rem;
    margin-bottom: .125rem;

}