div#firm-dashboard.firm-dashboard.col-md-9
  div.dashboard-title Firm Dashboard
    button.btn.btn-primary(type='button' data-toggle='modal' data-target='#switchFirmModal') Switch Firm
  div.dashboard-tile-container
    div.row.no-gutters.tile-row
      div.generic-tile.summary-tile
        div.tile-content
          div.summary-tile-title
            img(src='./images/Rosters.svg')
            p Rosters
          div.summary-tile-desc
            p Brief description of applications. Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.
          hr
          div.summary-tile-button
            a View All
      div.generic-tile.summary-tile
        div.tile-content
          div.summary-tile-title
            img(src='./images/Related_Businesses.svg')
            p Related Businesses
          div.summary-tile-desc
            p Brief description of applications. Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.
          hr
          div.summary-tile-button
            a View All
    div.row.no-gutters.tile-row
      div.generic-tile.summary-tile
        div.tile-content
          div.summary-tile-title
            img(src='./images/Insurances.svg')
            p Insurances
          div.summary-tile-desc
            p Brief description of applications. Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.
          hr
          div.summary-tile-button
            a View All
      div.generic-tile.summary-tile
        div.tile-content
          div.summary-tile-title
            img(src='./images/Annual_Obligations.svg')
            p Annual Obligations
          div.summary-tile-desc
            p Brief description of applications. Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.
          hr
          div.summary-tile-button
            a View All
// Modal
#switchFirmModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='switchFirmModal' aria-hidden='true')
  .modal-dialog.modal-lg.modal-dialog-centered(role='document')
    .modal-content.modal-full-width
      .modal-header
        h5.modal-title My Firms:
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      #modal-body.modal-body
        .new-application-container
          #item1.new-application-record
            img
            div.new-applicatin-desc
              p.title Firm Name
              p.subtitle Firm Street Address, City
          #item2.new-application-record 
            img
            div.new-applicatin-desc
              p.title Firm Name
              p.subtitle Firm Street Address, City
          #item3.new-application-record 
            img
            div.new-applicatin-desc
              p.title Firm Name
              p.subtitle Firm Street Address, City
          #item4.new-application-record 
            img
            div.new-applicatin-desc
              p.title Firm Name
              p.subtitle Firm Street Address, City
          #item5.new-application-record 
            img
            div.new-applicatin-desc
              p.title Firm Name
              p.subtitle Firm Street Address, City
      .modal-footer.save-btn-group
        button.cpao-btn-secondary(type='button' data-dismiss='modal') Cancel
        button.cpao-btn-primary(type='button' disabled) Select Firm


