.THIS {
	
}

.THIS p {

}
.THIS .label_instructions {
	display: inline-block;
    color: rgb(107, 109, 112);
    font-size: .75rem;
    line-height: 1.5;
    margin-right: .75rem;
    margin-bottom: .125rem;

}