.THIS {
    zoom: 140%;
}

.THIS {
    font-size: 12px;
}

.THIS .slds-modal__container{
	margin-left:25%;
	margin-right:25%;
	width: 50%;
    max-width: 60%;
    min-width: 50%;
}

.THIS #labelLookup{
	color: rgb(107, 109, 112);
    font-weight: 700;
    line-height: 1.5;
    font-size: .75rem;
}

.THIS .slds-text-color_error{
	font-size: .75rem;
    margin-top: .5rem;
    display: block;
}

.THIS .errorClass{
	border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
}

.THIS .redStar{
	color: rgb(194, 57, 52);
}