div#firm-rosters.firm-annual-obligations.col-md-9
  div.applications-menu
    a(aria-expanded='true' data-toggle='tab' href='#rosters') Rosters
    a(aria-expanded='true' data-toggle='tab' href='#related-businesses') Related Businesses
    a(aria-expanded='true' data-toggle='tab' href='#insurances') Insurances
    a(aria-expanded='true' data-toggle='tab' href='#annual-obligations') Annual Obligations
    button Switch Firm
  div.dashboard-tile-container
    div.generic-full-tile
      div.tile-content.search-container.row
        div.search-bar
          div.search-icon
            img
          div.search-input
            input(placeholder='Search Rosters')
        div.add-roster
          button +
          label Add New
          //- span 
            button 
            span Add New
      div.tile-content
        table.generic-table.roster-table
          tr  
            td Roster Name
            td Roster Info
            td Roster Info
            td Roster Info
          tr  
            td Roster Name
            td Roster Info
            td Roster Info
            td Roster Info
          tr  
            td Roster Name
            td Roster Info
            td Roster Info
            td Roster Info
          tr  
            td Roster Name
            td Roster Info
            td Roster Info
            td Roster Info
          

          