div#dashboard-left-nav.dashboard-left-nav.col-md-3
  div.well.p-20
    div#firm-container.profile-container
      img(src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg", alt="Firm Image")
      div.firm-desc
        p Deloitte
        p 
          span LSO 
          span | The Awesomemest
    div#links-container.links-container
      ul
        li#em-profile-tab
          a(aria-expanded='true' data-toggle='tab' href='#personal') Personal
        li#em-payment-methods-tab
          a(data-toggle='tab' href='#firm' aria-expanded='false') Firm
        li#em-payments-tab
          a#payments(data-toggle='tab' href='#financials' aria-expanded='false') Financials
        li#em-transactions-tab
          a(data-toggle='tab' href='#audit') Audit
    div#button-container.button-container
      button.cpao-btn-tertiary  Go to Firm Profile
