.THIS .readonly input,
.THIS .readonly textarea {
    outline-style: none !important;
	box-shadow: none !important;
	border-color: transparent !important;
    resize: none !important;
}

.THIS {
    font-size: 12px;
}

.THIS .slds-form-element.no-label label {
    display: none;
}