<apex:page showHeader="false"
    standardStylesheets="false"
    docType="html-5.0"
    applyHtmlTag="false"
    applyBodyTag="false"
    controller="CPBase.ProfileController">

    <apex:composition template="CPBase__profile">

        <apex:define name="customProfilePageLinks">
            <li id="em-personalInfos-tab">
                <a data-toggle="tab" href="#personalInfos"> Manage my employers </a>
            </li>
            <li id="t-commPrefs-tab">
                <a data-toggle="tab" href="#commPrefs"> Communication Preferences </a>
            </li>
            <li id="t-history-tab">
                <a data-toggle="tab" href="#transactionHistory"> Transaction History </a>
            </li>
        </apex:define>

        <apex:define name="customProfilePage">
            <div role="tabpanel" class="tab-pane" id="personalInfos">
                <h3 class="section-heading"> Manage my employers </h3>
            <div id="employmentComponent"></div>

        <apex:includeLightning />
            <script>$Lightning.use("c:CPAO_Employment_InfoApp", function() {
                $Lightning.createComponent("c:CPAO_Employment_Info",
                {},
                "employmentComponent",
                function(cmp) {
                  console.log('test in vf page');
                    $A.eventService.addHandler({
                    event: 'force:navigateToURL',
                        handler: function(event) {
                            if (sforce && sforce.one) {
                              // VF page in S1 or Lightning Exp
                                sforce.one.navigateToURL(event.getParam('url'));
                            }
                        }
                    });
                    var postEventToOneApp = function(name, params, fallbackAction) {
                        if (SfdcApp && SfdcApp.projectOneNavigator && SfdcApp.projectOneNavigator.fireContainerEvent) {
                          // Not officially supported by Salesforce
                            SfdcApp.projectOneNavigator.fireContainerEvent(name, params);
                        } else if (fallbackAction) {
                          // Fallback if no Salesforce support of fireContainerEvent
                          fallbackAction();
                        }
                    };

                    $A.eventService.addHandler({
                        event: 'force:showToast',
                        handler: function(event) {
                            postEventToOneApp('force:showToast', event.getParams(), function() {
                                alert(event.getParam('message'));
                            });
                        }
                    });

                });
                });
                </script>
            </div>

            <div role="tabpanel" class="tab-pane" id="commPrefs">
                <h3 class="section-heading"> Communication Preferences</h3>
            <div id="communicationComponent"></div>

            <apex:includeLightning />
            <script>
            $Lightning.use("c:CPAO_Employment_InfoApp", function() {
                $Lightning.createComponent("c:CPAO_CommunicationPreferences",
                {},
                "communicationComponent",
                function(cmp) {
                  console.log('test in vf page2');
                    $A.eventService.addHandler({
                    event: 'force:navigateToURL',
                        handler: function(event) {
                            if (sforce && sforce.one) {
                              // VF page in S1 or Lightning Exp
                                sforce.one.navigateToURL(event.getParam('url'));
                            }
                        }
                    });
                    var postEventToOneApp = function(name, params, fallbackAction) {
                        if (SfdcApp && SfdcApp.projectOneNavigator && SfdcApp.projectOneNavigator.fireContainerEvent) {
                          // Not officially supported by Salesforce
                            SfdcApp.projectOneNavigator.fireContainerEvent(name, params);
                        } else if (fallbackAction) {
                          // Fallback if no Salesforce support of fireContainerEvent
                          fallbackAction();
                        }
                    };

                    $A.eventService.addHandler({
                        event: 'force:showToast',
                        handler: function(event) {
                            postEventToOneApp('force:showToast', event.getParams(), function() {
                                alert(event.getParam('message'));
                            });
                        }
                    });

                });
                });
                </script>
            </div>

          <div role="tabpanel" class="tab-pane" id="transactionHistory">
          <h3 class="section-heading"> Transaction History </h3>
        <div id="transactionHistoryComponent"></div>
        <apex:includeLightning />
           <script>$Lightning.use("c:CPAO_Employment_InfoApp", function() {
              $Lightning.createComponent("c:CPAO_Refund",
              {},
              "transactionHistoryComponent",
              function(cmp) {
                  $A.eventService.addHandler({
                  event: 'force:navigateToURL',
                  handler: function(event) {
                    if (sforce && sforce.one) {
                      // VF page in S1 or Lightning Exp
                      sforce.one.navigateToURL(event.getParam('url'));
                    }
                  }
                });
                    var postEventToOneApp = function(name, params, fallbackAction) {
                if (SfdcApp && SfdcApp.projectOneNavigator && SfdcApp.projectOneNavigator.fireContainerEvent) {
                  // Not officially supported by Salesforce
                  SfdcApp.projectOneNavigator.fireContainerEvent(name, params);
                } else if (fallbackAction) {
                  // Fallback if no Salesforce support of fireContainerEvent
                  fallbackAction();
                }
              };

              $A.eventService.addHandler({
                event: 'force:showToast',
                handler: function(event) {
                  postEventToOneApp('force:showToast', event.getParams(), function() {
                    alert(event.getParam('message'));
                  });
                }
              });
                });
              });
            </script>
       </div>
      </apex:define>

      <apex:define name="pageScripts">
         <script src="https://s3.amazonaws.com/package-assets/master/lib/xss.js"></script>
         <script>$("#em-profile").addClass("active in");$("#em-profile-tab").addClass("active");$(".profile-name").html("{!usr.name}  {!con.CPAO_Designation__c}");</script>

        <script type="text/javascript" src="{{!URLFOR($Resource.CPBase__emerald_1_0,'js/pages/profile.min.js')}"></script>
      </apex:define>
    </apex:composition>
</apex:page>