<apex:page showHeader="false"
    standardStylesheets="false"
    docType="html-5.0"
    applyHtmlTag="false"
    applyBodyTag="false">
	<apex:composition template="CPBase__template">
		
    	<apex:define name="pageMain">
	        <div role="tabpanel" class="tab-pane" id="personalInfos" align="center">
	        	<div id="eventComponent"></div>
	        	<apex:includeLightning />
	           	<script>
		           	$Lightning.use("c:CPAO_ExistingApplicationsApp", function() {
		            	$Lightning.createComponent("c:CPAO_ExistingApplications", 
		            	{},
		            	"eventComponent",
		            	function(cmp) { 
		                	$A.eventService.addHandler({
			                	event: 'force:navigateToURL',
			                	handler: function(event) {
				                    if (sforce && sforce.one) {
				                    	// VF page in S1 or Lightning Exp
				                    	sforce.one.navigateToURL(event.getParam('url'));
				                    }
			                	}
		                	});
		                    var postEventToOneApp = function(name, params, fallbackAction) {
				                if (SfdcApp && SfdcApp.projectOneNavigator && SfdcApp.projectOneNavigator.fireContainerEvent) {
				                	// Not officially supported by Salesforce
				                	SfdcApp.projectOneNavigator.fireContainerEvent(name, params);
				                } else if (fallbackAction) {
				                	// Fallback if no Salesforce support of fireContainerEvent
				                	fallbackAction();
				                }
		              		};

			            	$A.eventService.addHandler({
				                event: 'force:showToast',
				                handler: function(event) {
				                	postEventToOneApp('force:showToast', event.getParams(), function() {
				                    	alert(event.getParam('message'));
				                	});
				                }
			            	});
		              	});
		            });
				</script>
	    	</div>
    	</apex:define>

    </apex:composition>
</apex:page>