<apex:page showHeader="false"
    standardStylesheets="false"
    docType="html-5.0"
    applyHtmlTag="false"
    applyBodyTag="false">
    <apex:composition template="CPBase__template">
        
        <apex:define name="pageMain">
            <div role="tabpanel" class="tab-pane" >

                <div class='col-sm-10' id='InsurancepageContainer'>
                    <h3 class="section-heading InsurancePageHeader"> My Insurances</h3><br/>
                </div>
                <div class='col-sm-10 componentContainer'  id="InsuranceComponent"></div>
                <apex:includeLightning />
                <script>
                    $Lightning.use("c:CPAO_InsuranceInfoApp", function() {
                        $Lightning.createComponent("c:CPAO_InsuranceInfo", 
                        {},
                        "InsuranceComponent",
                        function(cmp) { 
                            $A.eventService.addHandler({
                                event: 'force:navigateToURL',
                                handler: function(event) {
                                    if (sforce && sforce.one) {
                                        // VF page in S1 or Lightning Exp
                                        sforce.one.navigateToURL(event.getParam('url'));
                                    }
                                }
                            });
                            var postEventToOneApp = function(name, params, fallbackAction) {
                                if (SfdcApp && SfdcApp.projectOneNavigator && SfdcApp.projectOneNavigator.fireContainerEvent) {
                                    // Not officially supported by Salesforce
                                    SfdcApp.projectOneNavigator.fireContainerEvent(name, params);
                                } else if (fallbackAction) {
                                    // Fallback if no Salesforce support of fireContainerEvent
                                    fallbackAction();
                                }
                            };

                            $A.eventService.addHandler({
                                event: 'force:showToast',
                                handler: function(event) {
                                    postEventToOneApp('force:showToast', event.getParams(), function() {
                                        alert(event.getParam('message'));
                                    });
                                }
                            });
                        });
                    });
                </script>
            </div>
        </apex:define>

    </apex:composition>
</apex:page>