<apex:page showHeader="false"
    standardStylesheets="false"
    docType="html-5.0"
    applyHtmlTag="false"
    applyBodyTag="false"
    >
    <!-- controller="CPAO_EmploymentPageReinstatementCTRL"
    <apex:composition template="joinapi__template">
        
        <apex:define name="pageMain">
            <div role="tabpanel" class="tab-pane" >

                <div class='col-sm-offset-2 col-sm-8' id='pageContainer'>
                    <h3 class="section-heading PageHeader" id='employmentPageHeader'> Manage My Employers</h3><br/>
                </div>
                <div class='col-sm-offset-2 col-sm-8 componentContainer' id="employmentComponent">
                    <div style="bottom:0"> 
                    <apex:form >
                        <apex:commandButton value="Previous" action="{!previousStep}" styleClass="btn btn-mini m-r-5 btn-neutral ladda-button nextStep btn-wrap"/>
                        <apex:commandButton value="Cancel" action="{!cancelJP}" styleClass="btn btn-mini m-r-5 btn-neutral ladda-button nextStep btn-wrap"/>
                        <apex:commandButton value="Continue" action="{!save}" styleClass="btn btn-mini btn-primary ladda-button nextQualifyingQuestion btn-wrap"/>
                    </apex:form>
                    <br/>
                    </div>
                </div>

                <apex:includeLightning />
                <script>
                    $Lightning.use("c:CPAO_Employment_InfoApp", function() {
                        $Lightning.createComponent("c:CPAO_Employment_Info",
                        {},
                        "employmentComponent",
                        function(cmp) { 
                            $A.eventService.addHandler({
                                event: 'force:navigateToURL',
                                handler: function(event) {
                                    if (sforce && sforce.one) {
                                        // VF page in S1 or Lightning Exp
                                        sforce.one.navigateToURL(event.getParam('url'));
                                    }
                                }
                            });
                            var postEventToOneApp = function(name, params, fallbackAction) {
                                if (SfdcApp && SfdcApp.projectOneNavigator && SfdcApp.projectOneNavigator.fireContainerEvent) {
                                    // Not officially supported by Salesforce
                                    SfdcApp.projectOneNavigator.fireContainerEvent(name, params);
                                } else if (fallbackAction) {
                                    // Fallback if no Salesforce support of fireContainerEvent
                                    fallbackAction();
                                }
                            };

                            $A.eventService.addHandler({
                                event: 'force:showToast',
                                handler: function(event) {
                                    postEventToOneApp('force:showToast', event.getParams(), function() {
                                        alert(event.getParam('message'));
                                    });
                                }
                            });
                        });
                    });
                </script>
            </div>
        </apex:define>
       


    </apex:composition> -->
</apex:page>