div.applications-menu
    a(href='personal-applications.html') Applications
    a(href='personal-annual-obligations.html') Annual Obligations
    a(href='#declarations') Declarations
    a(href='#additional') Additional