.banner-home.noprint
    .em-cover.hidden-xs.m-b-30
        .transparency-firm
            .container
                .row
                    .col-md-3

                    .col-md-9
                        .row
                            .col-md-12
                                .row
                                    .col-md-3
                                        #avatar.tile-content.text-center.detail
                                            .profile-photo-container
                                                .profile-photo
                                                    img(src='https://pbs.twimg.com/profile_images/943493437634080768/zrAVhkap_400x400.jpg')
                                            .edit-image
                                                //- Keep the same styles here
                                    .col-md-6.hidden-xs.description
                                        .row.profile-banner-data-container
                                            p.profile-name Deloitte
                                            p.profile-title LSO | Dereck Bertocchi
                                    .col-md-3.hidden-xs.admin
                                        .row
                                            .col-sm-12.edits.p-t-10.p-b-10.m-t-10
                                                a#changeBanner.btn.btn-block.btn-info.outline.btn-upload(href='#')
                                                    | Change Cover Photo