div#dashboard-left-nav.dashboard-left-nav.col-md-3
  div.well.p-20
    div#profile-container.profile-container
      img(src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg", alt="Profile Image")
      div.profile-desc
        p Average Joe, CPA.
        p The Awesomest
    div#links-container.links-container
      ul
        li#em-profile-tab
          a( href='personal-dashboard.html') Personal
        li#em-payment-methods-tab
          a(href='firm-dashboard.html') Firm
        li#em-payments-tab
          a#payments(href='financials.html') Financials
        li#em-transactions-tab
          a(href='audit.html') Audit
    div#button-container.button-container
      button(onclick="window.location.href='personal-profile-info.html'").cpao-btn-tertiary  Go to My Profile