div.generic-tile.detailed-card
    div.tile-content
        block card-title
        div.title Application Name
            p Status
        div.date Year / Subtitle
        div.description Brief description of applications. Lorem ipsum dolor sit amet, urna primis quis, commodo neque cursus.
        div.actions
            button.withdraw-btn Withdraw
              svg(width='16px' height='16px' viewbox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink').withdraw-svg
                // Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch
                title Button - Tile - Secondary - Withdraw - Hover
                desc Created with Sketch.
                defs
                  path#path-1(d='M8,0.615384615 C3.90769231,0.615384615 0.615384615,3.90769231 0.615384615,8 C0.615384615,12.0923077 3.90769231,15.3846154 8,15.3846154 C12.0923077,15.3846154 15.3846154,12.0923077 15.3846154,8 C15.3846154,3.90769231 12.0923077,0.615384615 8,0.615384615 Z M9.50769231,8.24615385 L11.9076923,10.6461538 C12.0307692,10.7692308 12.0307692,10.9538462 11.9076923,11.0769231 L11.0461538,11.9384615 C10.9230769,12.0615385 10.7384615,12.0615385 10.6153846,11.9384615 L8.21538462,9.53846154 C8.09230769,9.41538462 7.90769231,9.41538462 7.78461538,9.53846154 L5.38461538,11.9384615 C5.26153846,12.0615385 5.07692308,12.0615385 4.95384615,11.9384615 L4.09230769,11.0769231 C3.96923077,10.9538462 3.96923077,10.7692308 4.09230769,10.6461538 L6.49230769,8.24615385 C6.61538462,8.12307692 6.61538462,7.93846154 6.49230769,7.81538462 L4.06153846,5.38461538 C3.93846154,5.26153846 3.93846154,5.07692308 4.06153846,4.95384615 L4.92307692,4.09230769 C5.04615385,3.96923077 5.23076923,3.96923077 5.35384615,4.09230769 L7.78461538,6.52307692 C7.90769231,6.64615385 8.09230769,6.64615385 8.21538462,6.52307692 L10.6153846,4.12307692 C10.7384615,4 10.9230769,4 11.0461538,4.12307692 L11.9076923,4.98461538 C12.0307692,5.10769231 12.0307692,5.29230769 11.9076923,5.41538462 L9.50769231,7.81538462 C9.41538462,7.93846154 9.41538462,8.12307692 9.50769231,8.24615385 L9.50769231,8.24615385 Z')
                g#XRM---New(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                  g(id='Forms---Style-Guide-/-Template' transform='translate(-555.000000, -1085.000000)')
                    g#Button---Tile---Secondary---Withdraw---Hover(transform='translate(555.000000, 1085.000000)')
                      g(id='icons/utility/clear')
                        mask#mask-2(fill='white')
                          use(xlink:href='#path-1')
                        use#Mask(fill='#006FBA' xlink:href='#path-1')
            button.cpao-btn-primary(type='button' data-toggle='modal' data-target='#newApplicationModal') Launch
// Modal
#newApplicationModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='newApplicationModal' aria-hidden='true')
  .modal-dialog.modal-lg.modal-dialog-centered(role='document')
    .modal-content.modal-full-width
      .modal-header
        h5.modal-title New Application:
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      #modal-body.modal-body
        .new-application-container
          #item1.new-application-record
            img
            div.new-applicatin-desc
              p.title Public Account License Application
              p.subtitle Brief description of what application entails. Lorem ipsum dolor sit amed.
          #item2.new-application-record 
            img
            div.new-applicatin-desc
              p.title Application Name
              p.subtitle Brief description of what application entails. Lorem ipsum dolor sit amed.
          #item3.new-application-record 
            img
            div.new-applicatin-desc
              p.title Application Name
              p.subtitle Brief description of what application entails. Lorem ipsum dolor sit amed.
          #item4.new-application-record 
            img
            div.new-applicatin-desc
              p.title Application Name
              p.subtitle Brief description of what application entails. Lorem ipsum dolor sit amed.
          #item5.new-application-record 
            img
            div.new-applicatin-desc
              p.title Application Name
              p.subtitle Brief description of what application entails. Lorem ipsum dolor sit amed.
      .modal-footer.save-btn-group
        button.cpao-btn-secondary(type='button' data-dismiss='modal') Cancel
        button.cpao-btn-primary(type='button' onclick="window.location.href='./applications-PAL-1-instructions.html'") Begin Application