.em-topbar
	.container.container-header
		.row.topbar-row
			.col-sm-12.topmenu-holder.text-right
				ul.navbar-search.topbar-list.list-inline.p-0
					li#shoppingcart-supernav
						a#shoppingcart-show.checkout-summary(href='#')
							svg#cart(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='12px' height='12px' viewbox='0 0 446.853 446.853' style='enable-background:new 0 0 446.853 446.853;' xml:space='preserve')
								path(d='M444.274,93.36c-2.558-3.666-6.674-5.932-11.145-6.123L155.942,75.289c-7.953-0.348-14.599,5.792-14.939,13.708\
								c-0.338,7.913,5.792,14.599,13.707,14.939l258.421,11.14L362.32,273.61H136.205L95.354,51.179\
								c-0.898-4.875-4.245-8.942-8.861-10.753L19.586,14.141c-7.374-2.887-15.695,0.735-18.591,8.1c-2.891,7.369,0.73,15.695,8.1,18.591\
								l59.491,23.371l41.572,226.335c1.253,6.804,7.183,11.746,14.104,11.746h6.896l-15.747,43.74c-1.318,3.664-0.775,7.733,1.468,10.916\
								c2.24,3.184,5.883,5.078,9.772,5.078h11.045c-6.844,7.617-11.045,17.646-11.045,28.675c0,23.718,19.299,43.012,43.012,43.012\
								s43.012-19.294,43.012-43.012c0-11.028-4.201-21.058-11.044-28.675h93.777c-6.847,7.617-11.047,17.646-11.047,28.675\
								c0,23.718,19.294,43.012,43.012,43.012c23.719,0,43.012-19.294,43.012-43.012c0-11.028-4.2-21.058-11.042-28.675h13.432\
								c6.6,0,11.948-5.349,11.948-11.947c0-6.6-5.349-11.948-11.948-11.948H143.651l12.902-35.843h216.221\
								c6.235,0,11.752-4.028,13.651-9.96l59.739-186.387C447.536,101.679,446.832,97.028,444.274,93.36z M169.664,409.814\
								c-10.543,0-19.117-8.573-19.117-19.116s8.574-19.117,19.117-19.117s19.116,8.574,19.116,19.117S180.207,409.814,169.664,409.814z\
								M327.373,409.814c-10.543,0-19.116-8.573-19.116-19.116s8.573-19.117,19.116-19.117s19.116,8.574,19.116,19.117\
								S337.916,409.814,327.373,409.814z')
							span#shoppingcart-counter 0
							|  Items
					li
						a.dropdown-toggle.profile-dropdown-toggle(aria-expanded='false' data-toggle='dropdown' href='#' role='button')
							.profile-mask
								img.profile-dropdown-image(src='https://dev-fontevacustomer-15ecea91a46.cs50.force.com/profilephoto/7293B000000EgTF/T')
							svg(height='10' viewbox='0 0 32 32' width='10' xmlns='http://www.w3.org/2000/svg')
								path(d='M1 12l15 14 15-14-4-4-11 10L5 8z')
						ul.dropdown-menu.profile-dropdown-menu(role='menu')
							li
								a(href='https://dev-fontevacustomer-15ecea91a46.cs50.force.com/CPAO_Profile')
									i.btr.bt-user
									|  My Profile
							li
								a.link-site(data-id='a0d3B000000NkfGQAS' href='#')
									| CPAOSite&nbsp;
									i.btr.bt-check-circle.text-success(style='display:inline')
							li.divider
							li
								a.logout(href='#' onclick='em.logout();')
									i.btr.bt-sign-out
									|  Logout
