header.fonteva-topnav
    nav.navbar.em-navbar.navbar-fixed-top.primary-nav
        .primary-nav-inner
            .container
                .navbar-header
                    a.navbar-brand(href='#')
                    #navbar.navbar-collapse
                        nav#menuComponentBUGk0(role='menu')
                            ul#menuUlBUGk0.nav.navbar-nav.navbar-right.open.js-menu
                                li.js-menu.undefined
                                    a.active(href='personal-dashboard.html' target='_self') My Portal
                                li.js-menu.undefined
                                    a(href='https://dev-fontevacustomer-15ecea91a46.cs50.force.com/CPAO_Knowledge?page=a0Z3B000001F3xfUAC&site=a0d3B000000NkfGQAS' target='_self') Knowledge
                                li.js-menu.undefined
                                    a(href='support.html' target='_self') Support
                                li.js-menu.undefined
                                    a(href='https://dev-fontevacustomer-15ecea91a46.cs50.force.com/CPBase__store?page=a0Z3B0000010cFhUAI&site=a0d3B000000NkfGQAS' target='_self') Store
