// Uses the same styles as personal-new-application
// Button trigger modal
button.btn.btn-primary(type='button' data-toggle='modal' data-target='#switchFirmModal')
  | Launch demo modal
// Modal
#switchFirmModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='switchFirmModal' aria-hidden='true')
  .modal-dialog.modal-lg.modal-dialog-centered(role='document')
    .modal-content.modal-full-width
      .modal-header
        h5.modal-title My Firms:
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      #modal-body.modal-body
        .new-application-container
          #item1.new-application-record
            img
            div.new-applicatin-desc
              p.title Firm Name
              p.subtitle Firm Street Address, City
          #item2.new-application-record 
            img
            div.new-applicatin-desc
              p.title Firm Name
              p.subtitle Firm Street Address, City
          #item3.new-application-record 
            img
            div.new-applicatin-desc
              p.title Firm Name
              p.subtitle Firm Street Address, City
          #item4.new-application-record 
            img
            div.new-applicatin-desc
              p.title Firm Name
              p.subtitle Firm Street Address, City
          #item5.new-application-record 
            img
            div.new-applicatin-desc
              p.title Firm Name
              p.subtitle Firm Street Address, City
      .modal-footer.save-btn-group
        button.cpao-btn-secondary(type='button' data-dismiss='modal') Cancel
        button.cpao-btn-primary(type='button' disabled) Select Firm
