div#firm-rosters.firm-annual-obligations.col-md-9
  div.applications-menu
    a(aria-expanded='true' data-toggle='tab' href='#rosters') Rosters
    a(aria-expanded='true' data-toggle='tab' href='#related-businesses') Related Businesses
    a(aria-expanded='true' data-toggle='tab' href='#insurances') Insurances
    a(aria-expanded='true' data-toggle='tab' href='#annual-obligations') Annual Obligations
    button Switch Firm
  div.dashboard-tile-container
    div.generic-full-tile
      div.tile-content.search-container.row
        div.search-bar
          div.search-icon
            img
          div.search-input
            input(placeholder='Search Related Businesses')
        div.add-roster
          button +
          label Add New
      div.tile-content
        div.business-container
          div.business-header
            div.business-title
              p Firm Name
              p LSO | Average Joe
            div.edit-button 
              button Edit
          table.generic-table.related-business-table
            tr
              th Relationship Type
              th Related to Account
              th Relationship Sub Types
              th Effective Date
              th End Date
            tr
              td Relationship Type
              td Related to Account
              td Relationship Sub Types
              td MM / DD / YYYY
              td MM / DD / YYYY
        div.business-container
          div.business-header
            div.business-title
              p Firm Name
              p LSO | Average Joe
            div.edit-button 
              button Edit
          table.generic-table.related-business-table
            tr
              th Relationship Type
              th Related to Account
              th Relationship Sub Types
              th Effective Date
              th End Date
            tr
              td Relationship Type
              td Related to Account
              td Relationship Sub Types
              td MM / DD / YYYY
              td MM / DD / YYYY