.THIS {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.THIS li {
    border-bottom: solid 1px #DDDDDD;
    padding: 10px;
}

.THIS p {
    margin: 100px;
}

.THIS .popover {
position: absolute;
left: 100%;
bottom: 100%;
}