div#personal-profile-left-nav.personal-profile-left-nav.col-md-3
  .well.p-20
    ul
      li#em-profile-tab
        a(aria-expanded='true' data-toggle='tab' href='#em-profile') Profile
      li#em-payment-methods-tab
        a(data-toggle='tab' href='#em-payment-methods' aria-expanded='false') Payment Methods
      li#em-payments-tab
        a#payments(data-toggle='tab' href='#em-payments' aria-expanded='false')
          | Make a Payment
          span.badge 1
      li#em-transactions-tab
        a(data-toggle='tab' href='#em-transactions')
          | My Transactions
      li#em-subscriptions-tab
        a(data-toggle='tab' href='#em-subscriptions' aria-expanded='false')
          | Subscriptions
      li#em-badges-tab
        a#badges(data-toggle='tab' href='#em-badges' aria-expanded='false')
          | Badges
      li#em-settings-tab
        a(data-toggle='tab' href='#em-settings')
          | Reset Password
      li#em-personalInfos-tab
        a(data-toggle='tab' href='#personalInfos' aria-expanded='false')  Manage my employers
      li#t-commPrefs-tab
        a(data-toggle='tab' href='#commPrefs' aria-expanded='false')  Communication Preferences
      li#t-history-tab
        a(data-toggle='tab' href='#transactionHistory' aria-expanded='false')  Transaction History
