div#personal-profile.personal-profile.col-md-9
  .well
    h3.section-heading Profile Details
    table
      tr.section
        td Personal Details
      tr
        td.field
          label(for="email") Personal Email
        td.value
          input#email(type="text" placeholder="Enter Email")
      tr
        td.field
          label(for="gender") Gender
        td.value.cpao-select
          div
            select#gender(placeholder="Select Gender")
              option(default) Select Gender
              option(value="Female") Female
              option(value="Male") Male
              option(value="Other") Other
      tr.section
        td Address Details
      tr
        td.field
          label(for="city") Residential City
        td.value
          input#city(type="text" placeholder="Enter City")
      tr
        td.field
          label(for="street") Residential Street
        td.value
          input#street(type="text" placeholder="Enter Street")
      tr
        td.field
          label(for="state-province") Residential State/Province
        td.value
          input#state-province(type="text" placeholder="Enter State or Province")
      tr
        td.field
          label(for="zip") Residential Zip/Postal Code
        td.value
          input#zip(type="text" placeholder="Enter Zip or Postal Code")
      tr
        td.field
          label(for="country") Residential Country
        td.value
          input#country(type="text" placeholder="Enter Country")
    div.save-btn-group
      button.cpao-btn-secondary Cancel
      button.cpao-btn-primary Save

